.dashboard-chart {

	.chart-wrapper {
		width: 100%;
		overflow: auto;
	}

	.chart-canvas-container {
		position: relative;
		min-width: 1200px; // Chart scrolls when container is narrower than this.

		.dashboard-chart__canvas {
			width: 800px;
			height: 200px;
			//border: 1px solid rgba(gray,0.15);
			@include media-breakpoint-up(lg){
				//height: 50px;border: 1px solid rgba(red,0.5);
			}
		}
	}
	.chart-range {
		display: flex;
		justify-content: space-between;
		margin-bottom: $grid-gutter-width/2;
		align-items: center;
	}
	.chart-range__display {
		font-size: 0.875rem;
	}


	.btn {
		&:focus, &.active, &.focus {
			box-shadow: none;
		}
		&[disabled] {
			opacity: 0.325;
		}
	}
	.btn-group {
		.btn {
			min-width: 12ch;
		}
	}

	@media print {
		.chart-wrapper {
			overflow: visible;
		}
		.chart-canvas-container {
			min-width: 0;
			width: 100%;
		}
	}

}

