// Admin header and breadcrumbs

.header-main {
	h1, .h1 {
		font-size: 1.5rem;
		font-weight: bold;
	}
}

li.nav-item.quick-add-menu {
	& a.nav-link {
		.fa, .fas {
			color: $green;
			font-size: 1.125rem;
		}
	}
}