// List for tree-view of categories etc.

// Parent list with root item
ul.list--categories, ul.list--tree-parent {
	
	@extend .list-unstyled;
	
	em, .fa, .fas, .far  {
		font-size: 0.9em;
		color: $gray-600;
	}
	
	> li > ul.list--tree {
		margin-left: 0.5rem;
	}
}

// Draw tree branches in nested lists
ul.list--tree {
	
	$lineWidth: 2px;
	$lineColor: $gray-300;
	$lineRadius: 8px;
	$bulletWidth: 20px;
	$itemPaddingY: 0.25em;
	$itemPaddingLeft: 0.5em;
	
	list-style: none;
	padding: 0;
	padding-left: $bulletWidth + 5px;
	
	li {
		position: relative;
		padding: $itemPaddingY 0 $itemPaddingY $itemPaddingLeft;
		margin: 0;
		
		&:before {
			position: absolute;
			left: 0-$bulletWidth;
			top: 0;
			content: '';
			width: $bulletWidth;
			height: 16px;
			border-left: $lineWidth solid $lineColor;
			border-bottom: $lineWidth solid $lineColor;
			border-radius: 0 0 0 $lineRadius;
		}
		
		&:after {
			position: absolute;
			left: 0-$bulletWidth;
			top: 0;
			content: '';
			width: $bulletWidth;
			height: 100%;
			border-left: $lineWidth solid $lineColor;
		}
		
		
		&:last-child:after {
			border-left: none;
		}
	}
	
	h1, h2, h3, h4, p {
		margin-bottom: 0;
	}

	&-collapsible {
		.js-collapse-toggle {
			position: absolute;
			top: $itemPaddingY;
			left: $itemPaddingLeft;
			display: inline-block;
			min-width: 3ch;
			cursor: pointer;
			&:hover {
				color: $body-color;	
			}
			.js-icon--collapsed {
				display: inline-block;
			}
			.js-icon--expanded {
				display: none;
			}
			&[aria-expanded="true"] {
				.js-icon--collapsed {
					display: none;
				}
				.js-icon--expanded {
					display: inline-block;
				}
			}
		}
		li {
			padding-left: calc( #{$itemPaddingLeft} + 3ch );
			position: relative;
		}
	}
	
}

.js-toggle-all-trees {
	&:focus {
		box-shadow: none;
	}
	.btn__text {
		&--collapsed {
			display: inline;
		}
		&--expanded {
			display: none;
		}
	}
	&.expanded {
		.btn__text {
			&--collapsed {
				display: none;
			}
			&--expanded {
				display: inline;
			}
		}
	}
}
