.admin-object-menu {
	z-index: 99;
	position: relative;
	height: 0px;
	width: 100%;
	&__wrapper {
		position: absolute;
		top: -35px;
		right: 0;
		.btn, .btn-group {
			background-color: rgba(white, 0.85);
			
			.admin-menu__edit-title {
				display: none;
			}
			
			&:hover, &:focus {
				background-color: $primary;
				color: white;
				.admin-menu__edit-title {
					display: inline;
				}
			}
		}
	}
	& + & {
		z-index: 98;
		.admin-object-menu__wrapper {
			top: 0;
		}
	}
	.btn-outline-primary {
		color: $primary;
	}
}

.footer {
	.admin-object-menu {
		font-size: $font-size-sm;
		opacity: 0.85;
		&:hover {
			opacity: 1;
		}
		&__wrapper {
			top: 0;
		}
	}
}