// Alerts displayed in original theme bg color instead of Bootstrap default light bg.

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant( $value, $value, color-yiq( $value ) );
    button.close {
      color: inherit;
      opacity: 0.75;
    }
    a, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      color: inherit !important;
    }
    a {
      text-decoration: underline;
      /*&:hover {
        color: darken( $value, 10% );
      }*/
    }
  }
}