.js--basket_info_float-container {
  $cartBorderStyle:  none;
  $cartBorderRadius: 6px;//$border-radius;
  $cartBgColor:      $brand;

  display: none;

  @media( min-width: $max-page-width + 200px ) {
    display: block;
    &.show {
      //display: block;
      right: 0;
      opacity: 1;
    }
    
    position: fixed;
    z-index: $zindex-fixed;
    right: -100px;
    top: 100px;
    opacity: 0;
    transition: all 0.5s;

    & > a.js--basket_info_float {
      display: block;
      position: relative;
      right: 0;
      top: 0;

      max-width: 90px;
      background-color: $cartBgColor;
      border: $cartBorderStyle;
      border-bottom-left-radius: $cartBorderRadius;
      border-top-left-radius: $cartBorderRadius;
      color: color-yiq( $cartBgColor );
      padding: $grid-gutter-width/8 $grid-gutter-width/4;
      
      &:hover {
        color: color-yiq( $cartBgColor );
        text-decoration: none;
      }

      .cart__icon {
        font-size: 1.25em;
      }

      .cart-num-items {
      }

      .cart__price {
        font-size: 0.75rem;
        font-weight: bold;
        min-width: 65px;
        white-space: nowrap;
        &:empty {
          display: none;
        }
      }
    }

  }

}


.basket-preview {
  display: none;
  position: absolute;
  z-index: $zindex-modal;
  left: 100px;
  top: 100px;
  width: 400px;
  min-height: 100px;
  box-shadow: $box-shadow-lg;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: white;

  &.show {
    display: block;
  }

  &__content {
    &.empty {
      min-height: 100px;
      border-bottom: 1px solid $border-color;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__footer {
    padding: $modal-inner-padding;
    text-align: center;
    
  }

  &--fadeout {
    animation: basket-preview-fadeout-anim;
    animation-duration: 0.75s;
    animation-delay: 0.75s;
    animation-iteration-count: 1;
  }

  &--fadeout-fast {
    animation: basket-preview-fadeout-anim;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
  }

  &--fadein {
    animation: basket-preview-fadein-anim;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
  }

}

@keyframes basket-preview-fadeout-anim {
  from {
    opacity: 1;
  } to {
    opacity: 0;
  }
}

@keyframes basket-preview-fadein-anim {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}