.cards--login-options {
	form {
		@extend .form--compact;
		margin-bottom: 0;
	}
	.card {
		.card-footer {
			padding-bottom: $grid-gutter-width/2;
			fieldset {
				margin-bottom: 0;
			}
		}
	}
}

.cards--addresses {
	margin-bottom: $grid-gutter-width !important;
	.js--card-address {
		border: 2px solid transparent;
	}
	.card--active {
		//border: 2px solid $secondary;
		//background-color: $secondary;
		//color: color-yiq( $secondary );
		animation-name: card--address--on-selection;
		animation-duration: 1.25s;
		animation-iteration-count: 1;
	}
	.card-footer {
		justify-content: space-between;
		gap: 0.5rem 1rem;
		.btn {
			display: block;
			width: auto !important;
			margin: 0;
			flex-basis: calc(50% - 0.5rem);
			flex-shrink: 2;
			flex-grow: 2;
			@container (max-width:240px){
				flex-basis: 100%;
			}
		}
	}
}

@keyframes card--address--on-selection {
	from {
		border-color: $secondary;
	} to {
		border-color: transparent;
	}
	
}

.basket-edit-header-wrapper {
	display: flex;
	flex-wrap: wrap;
	.content-header {
		flex-grow: 100;
		margin-right: 2ch;
	}
	form {
		flex-basis: 200px;
	}
}