.cards--login-options {
	form {
		@extend .form--compact;
		margin-bottom: 0;
	}
	.card {
		.card-footer {
			padding-bottom: $grid-gutter-width/2;
			fieldset {
				margin-bottom: 0;
			}
		}
	}
}

.cards--addresses {
	margin-bottom: $grid-gutter-width;
}