header.content-header, .content-header {
	display: flex;
	article + & {
		margin-top: $grid-gutter-width;
	}
	.content-header__image {
		margin-bottom: $grid-gutter-width;
		order: 2;
		flex-basis: 50%;
		flex-shrink: 0;
		flex-grow: 0;
	}
	.content-header__text {
		margin-bottom: $grid-gutter-width;
		h1, .h1 {
			//margin-bottom: $grid-gutter-width;
			margin-bottom: 0;
		}

		.teaser {
			//margin-top: ( 0 - $grid-gutter-width * 0.75 );
			margin-top: $grid-gutter-width * 0.25;
			p:last-child {
				margin-bottom: 0;
			}
		}

		.tags {
			margin-bottom: 0.25em;
			&:empty {
				display: none;
			}
		}

		.meta {
			font-size: 0.75rem;
			margin-top: $grid-gutter-width * 0.25;
			//opacity: 0.75;
		}
	}
	
	.content-header__image + .content-header__text {
		flex-basis: 50%;
		flex-shrink: 0;
		flex-grow: 0;
		padding-right: $grid-gutter-width;
		&--dark {
			// when __text has dark background
			padding: $grid-gutter-width;
			h1, .h1, .teaser, .meta, p {
				color: white;
			}
			display: flex;
			flex-direction: column;
			h1, .h1 {
				flex-grow: 10;
			}
		}
	}
	@include media-breakpoint-down(md){
		.content-header__image {
			flex-basis: 40%;
			display: flex;
			align-items: center;
		}
		.content-header__image + .content-header__text {
			flex-basis: 60%;
		}
	}
	@include media-breakpoint-down(sm){
		.content-header__image {
			margin-bottom: 0;
		}
		display: block;
		.content-header__image + .content-header__text {
			padding-top: $grid-gutter-width;
		}
	}
}