
// For debug purposes

$show_heading_tag_names: false;

// Writes tag name after each heading for easy heading hierarachy checking
@if $show_heading_tag_names == true {
  h1, h2, h3, h4, h5, h6 {
    &:after {
      display: inline-block;
      background-color: black;
      color: white;
      font-size: $font-size-sm;
      padding: 0.25em;
    }
    &:is(h1):after {
      content: "H1";
    }
    &:is(h2):after {
      content: "H2";
    }
    &:is(h3):after {
      content: "H3";
    }
    &:is(h4):after {
      content: "H4";
    }
    &:is(h5):after {
      content: "H5";
    }
    &:is(h6):after {
      content: "H5";
    }
  }
}