.digital-products {
	&__item {
		margin-bottom: $grid-gutter-width;
		
		.item__header {
			margin-bottom: $grid-gutter-width/4;
			.item__title {
				margin-bottom: 0;
			}
		}
	}
	// For list of downloads, see .list--downloads in _list_files.scss
}