#filter_form {
	margin-bottom: $grid-gutter-width;
	border-bottom: 1px solid $border-color;
	
	.pfilter__title {
		font-size: 1rem;
		margin-bottom: $grid-gutter-width/2;
	}
	
	ul.nav-tabs {
		li.nav-item {
			a.nav-link {
				&:focus {
					outline: none;
				}
			}
		}
	}
	
	.tab-content {
		.tab-pane {
			padding: $grid-gutter-width/2;
			background-color: $gray-100;
			margin-bottom: $grid-gutter-width/2;
			ul.list--checkboxes {
				margin-bottom: 0;
			}
			//border: 1px solid $border-color;
			//border-top: none;
		}
	}
	
	.active-filters {
		display: flex;
		align-items: flex-start;
		width: 100%;
		
		&__title {
			flex-grow: 0;
			flex-shrink: 10;
			font-size: 1rem;
			margin: 0.25em 0.5em 0 0;
			margin-bottom: $grid-gutter-width/2;
			//display: inline-block;
		}
		&__items {
			flex-grow: 100;
			flex-shrink: 0;
		}
		&__count {
			flex-grow: 0;
			flex-shrink: 10;
			margin-bottom: $grid-gutter-width/2;
		}
	}
	
}

.section--child-categories + #filter_form {
	margin-top: 0 - ($grid-gutter-width/2);
}