// Some additional styling form elements

@mixin fieldset--non-horizontal {
	margin-bottom: $grid-gutter-width/2;
	legend {
		margin-bottom: 0;
	}
	.form-group {
		margin-bottom: 0;
		padding-top: 0.65rem;
		padding-bottom: 0.65rem;
		&:last-child {
			margin-bottom: 0;
		}
		label {
			margin-bottom: 0.25rem;
		}
	}
}

form {
	.form-group {
		> ul.list--radios, > ul.list--checkboxes {
			@extend .list-unstyled;
			margin-bottom: 0;
		}
		> .feedback {
			margin-top: 0.1rem;
			ul {
				@extend .list-unstyled;
				margin-bottom: 0;
			}
			&.feedback--invalid {
				color: $danger;
			}
			&.feedback--optional {
				@extend .text-muted;
				font-size: 0.85rem;
			}
		}
		> .help-block {
			@extend .text-muted;
			font-size: 0.85rem;
			line-height: 1.1;
			padding-top: 0.5rem;
			ul {
				margin-bottom: 0;
				padding-left: 1rem;
			}
		}
		> .alert {
			padding: 0.1rem 0.25rem;
			margin-bottom: 0;
		}
		label  {
			.tip {
				@extend .text-muted;
			}
		}
	}
	fieldset {
		margin-bottom: $grid-gutter-width/2;
		legend {
			font-weight: 900;
			color: $headings-color;
			font-size: 1rem;
		}
		@include media-breakpoint-down(sm){
			@include fieldset--non-horizontal;
		}
	}
}

form:not(.form-horizontal), fieldset:not(.fieldset-horizontal) {
	@include fieldset--non-horizontal;
}

// Applies CSS grid to .form-group to create horizontal form.

.form-horizontal, .fieldset-horizontal {
	.form-group {
		@include media-breakpoint-up(md){
			display: grid;
			grid-template-columns: 3fr 5fr 4fr;
			grid-template-rows: auto auto auto;
			grid-template-areas: 
				'label control help'
				'middleleft feedback help'
				'bottomleft instantfeedback help';
			grid-gap: 0 $grid-gutter-width/2;
			margin: 0;
			border-top: 1px solid $gray-200;
		}
		@include media-breakpoint-up(lg){
			grid-template-columns: 2fr 5fr 3fr;
		}
		> label {
			padding-top: calc(.375rem + 1px);
			line-height: 1.5;
			grid-area: label;
		}
		> .form-control, .custom-control, > .btn, > .button-container {
			grid-area: control;
		}
		> ul.list--radios, > ul.list--checkboxes {
			grid-area: control;
		}
		> .feedback {
			grid-area: feedback;
		}
		> .help-block {
			grid-area: help;
			padding-top: 0;
		}
		> .alert {
			grid-area: instantfeedback;
			justify-self: stretch;
		}
		// Two classes added just to get rid of autoprefixer warnings
		> .dummy-111 {
			grid-area: bottomleft;
		}
		> .dummy-222  {
			grid-area: middleleft;
		}
		.button-container {
			display: inline-block;
		}
	}
}

// Lines between form-groups for better readiblity
form {
	.form-group {
		padding: 1rem 0;
	}
}


// Validation states
form {
	.form-group {
		&.form-group--has-error {
			//border: 2px solid $danger;
			.form-control {
				border: 2px solid $danger;
			}
			label {
				color: $danger;
			}
		}
		&.form-group--is-valid {
			.form-control {
				border: 1px solid $success;
			}
		}
	}
}

form#form_checkouts_summary .form-group--id_confirmation {
	&.form-group--has-error {
		border: 2px solid $danger;
		background-color: $danger;
		border: none;
		color: white;

		position: relative;
		&::before {
			display: block;
			background-color: $danger;
			content: " ";
			display: block;
			position: absolute;
			left: -6px;
			top: -2px;
			width: calc(100% + 12px);
			height: calc(100% + 2px);
			//border: 4px solid $danger;
		}

		label {
			color: white;
		}
		.feedback.feedback--invalid {
			background-color: inherit;
			color: inherit;
		}
	}
}

// search form
.form-search {
	@extend .form-inline;
	margin-bottom: 1rem;
	input {
		margin-right: 0.5em;
		@include media-breakpoint-down(xs){
			margin-bottom: 0.5rem;
		}
	}
}


// quantity widget
.quantity-widget {
	display: flex;
	align-items: center;
	line-height: 1;
	button.btn {
		min-width: 36px;
		font-size: 1.25rem;
		line-height: 1;
		padding-top: 8px;
		padding-bottom: 8px;
		//color: white;
		border-radius: 0;
		font-weight: 600;
		&:focus {
			outline: none;
			box-shadow: none !important;
		}
	}
	input.form-control-number {
		border-radius: 0;
		width: 7ch;
		appearance: textfield; 
	}
	input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	label {
		margin: 0 0 0 0.5rem;
	}

	.js-quantity-suffix {
		display: none;
		.js-quantity-total-price {
			font-weight: 600;
		}
	}
	&--sm {
		> * {
			flex-shrink: 0;
		}
		$controlHeight: $input-btn-padding-y-sm * 2 + $input-btn-font-size-sm * $input-btn-line-height-sm + (divide($input-btn-border-width, 16px) * 1rem * 2);
		button.btn {
			//min-width: 24px;
			font-size: $font-size-base;
			aspect-ratio: 1;
			height: $controlHeight;
			min-width: 0;
			width: $controlHeight;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			line-height: 1;
		}
		input.form-control-number, .quantity-widget__number {
			font-size: $font-size-sm;
			min-width: 6ch;
			padding: 0 4px;
			height: $controlHeight;
		}
		.quantity-widget__number {
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
	}
}

form#form_checkouts_set_payment_and_delivery_method {
	.form-group {
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: $grid-gutter-width;
		.control-label {
			font-weight: 900;
			//color: black;
			//margin-bottom: 0.5rem;
		}
	}
}

form#form_checkouts_set_billing_and_delivery_data:not(.form-horizontal) {
	.form__body {
		
		@include media-breakpoint-up(md){
			$hspace: 1rem;
			display: flex;
			flex-wrap: wrap;
			margin-left: 0-$hspace/2;
			margin-right: 0-$hspace/2;
			
			.form-group {
				margin-bottom: 0;
			}
			
			& > * {
				flex-basis: 50%;
				padding-left: $hspace/2;
				padding-right: $hspace/2;
			}
			
			// Prvky na celou sirku
			.form__legend, .form-group--id_delivery_company, .form-group--id_company, .form-group--id_fill_in_invoice_address {
				flex-basis: 100%;
			}
		}
		
	}
}
form#form_checkouts_set_billing_and_delivery_data {
	@include media-breakpoint-down(sm) {
		.form-group {
			padding: 0;
		}
	}
}


.form__confirmation {
	padding: 0 8px;
	.form-group {
		padding: 0;
		margin-bottom: 1rem;
	}
}

.form__body {
	margin-bottom: $grid-gutter-width;
}

.form--compact {
	.form-group {
		padding-top: 0;
		padding-bottom: $grid-gutter-width/4;
		&:last-child {
			padding-bottom: 0;
		}
	}
}

.form__footer {
	.form-group {
		border: none !important;
	}
}