$griddebug: false;

$section-spacing: $grid-gutter-width*2;

@mixin grid-fullwidth(){
	grid-column: 1/6;
}
@mixin grid-page(){
	grid-column: 2/5 !important;
}
@mixin grid-content {
	grid-column: 3/4;
}

body.body--fullwidth {
	background-color: white;
}

.body--fullwidth, .body--fullwidth .body {
	max-width: 100%;
	@if $griddebug {
		border: 2.25px dashed red;
	}
	
	
	header#header-main {
		max-width: 100%;
	}

	.content-main, .content-main > article  {
		//background-color: rgba(yellow,0.2
		@include grid-fullwidth;
		
		display: grid;
		
		grid-template-columns: minmax(0, 1fr) 0 minmax(0, #{$max-page-width - (2*$grid-gutter-width)}) 0 minmax(0, 1fr);
		
		@media(max-width: $max-page-width){
			@if $griddebug {
				background-color: rgba(green,0.05);
			}
			grid-template-columns: minmax(0, 1fr) $grid-gutter-width minmax(0, #{$max-page-width - (2*$grid-gutter-width)}) $grid-gutter-width minmax(0, 1fr);
		}
		
		@include media-breakpoint-down(xs) {
			grid-template-columns: minmax(0, 1fr) $grid-gutter-width/2 minmax(0, #{$max-page-width - (2*$grid-gutter-width)}) $grid-gutter-width/2 minmax(0, 1fr);
		}
		
		& > * {
			@if $griddebug {
				outline: 2px dotted rgba(aqua,0.75);
			}
		}
		
		& > *:not(.section--fullwidth):not(.fullwidth):not(article) {
			//grid-column: 2/3;
			@include grid-content;
			//outline: 1px dotted red;
		}
		
		& > .section--fullwidth, & > .fullwidth {
			@include grid-fullwidth;
			//outline: 1px dotted black;
		}
		
		& > .section--fullwidth, & > .fullwidth {
			& + *:not(.section--fullwidth):not(.fullwidth) {
				@if $griddebug {
					outline: 1px solid red;
				}
				margin-top: $section-spacing;
			}
		}
		
		& > *:not(.section--fullwidth):not(.fullwidth) {
			& + .fullwidth, & + .section--fullwidth {
				@if $griddebug {
					outline: 4px solid purple;
				}
				margin-top: $section-spacing;
			}
		}
		
		.section--narrow, .narrow {
			max-width: $max-content-width;
			margin-left: auto;
			margin-right: auto;
		}
		
		.container-fluid {
			@if $griddebug {
				background-color: rgba(yellow,0.05 )!important;
			}
			margin-top: $grid-gutter-width;
			margin-bottom: $grid-gutter-width;
			
			h2, h3, .h2, .h3, p {
				//&:first-child {
					margin-bottom: $grid-gutter-width;
				//}
			}
			
		}
		
		& > h1, & > h2, & > h3, & > h4, & > h5, & > .h1, & > .h2, & > .h3, & > .h4, & > .h5, & > p {
			@if $griddebug {
				background-color: rgba(pink,0.1);
			}
			max-width: $max-content-width + $grid-gutter-width * 2;
			padding-left: $grid-gutter-width * 2;
			padding-right: $grid-gutter-width * 2;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: $grid-gutter-width;
		}
		
		& > .content-header--bg, .iobject--picture:not(.iobject--picture-fullwidth), .iobject--video, .iobject--gallery {
			@include grid-page;
			@if $griddebug {
				border: 2px dotted orangered;
			}
		};
		
	}
	
	.section--text-over-image {
		@include media-breakpoint-up(md){
			display: grid;
			grid-template-columns: minmax(0, 1fr) minmax(0, $max-page-width) minmax(0, 1fr);
		}
		& > img {
			grid-column: 1/4;
			grid-row: 1/2;
		}
		& > div.container-fluid {
			grid-column: 2/3;
			grid-row: 1/2;
			margin-top: $grid-gutter-width*2;
			margin-bottom: $grid-gutter-width*2;
			.display-1 {
				text-align: center;
				font-weight: 900;
				color: black;
				font-size: clamp(2em, 7vw, 100px);
			}
		}
	}
	
	.row--shortcode.fullwidth {
		margin-left: 0;
		margin-right: 0;
	}
}

body:not(.body--fullwidth) {
	background-color: #211;
	article {
		& > * {
			@if $griddebug {
				border: 2px dashed blue;
			}
		}
		& > *:not(.content-header) {
			max-width: $max-content-width;
		}
	}
}



