// navbar breakpoint settings moved to _application_variables.scss
$navbar_breakpoint_upper: breakpoint-next($navbar_breakpoint_lower);

@mixin navbar-color-variations($navbar-color) {
	color: $navbar-color;
	.navbar-toggler {
		color: inherit;
	}
	.menu-separator{
		background-color: rgba($navbar-color, 0.5);
	}
	ul.navbar-nav {
		li.nav-item {
			a.nav-link {
				color: $navbar-color;
				&:hover {
					background-color: $primary;
					color: white;
				}
				&.active {
					color: $navbar-color;
					border-bottom: 2px solid rgba($navbar-color, 0.5);
					background-color: rgba($navbar-color, 0.15);
				}
			}
		}
	}
	form.navbar-search {
		input.form-control-sm {
			border-bottom: 1px solid rgba($navbar-color,.75);
			color: $navbar-color;
			&::placeholder {
				color: rgba($navbar-color,0.75);
			}
			&:focus, &:hover {
				border-bottom-color: $navbar-color;
			}
		}
		button {
			color: $navbar-color;
		}
	}
	@include media-breakpoint-down($navbar_breakpoint_lower){
		ul.nav--2col {
			border-color: rgba($navbar-color, 0.5);
		}
		ul.navbar-nav {
			li.nav-item {
				.dropdown-menu {
					.dropdown-item {
						color: $navbar-color;
					}
				}
			}
		}
	}
}

// search form on mobile
@mixin header-search-form-mobile($bgcolor: $brand) {
	padding: $grid-gutter-width/4;
	background-color: $bgcolor;
	border: 1px solid rgba($body-bg, 0.5);
	border-left: none;
	border-right: none;
	flex-wrap: nowrap;
	input[type="text"] {
		flex-grow: 10;
		flex-basis: auto;
		flex-grow: 10;
		.btn {
			flex-grow: 0;
		}
		input.form-control, .btn {
			width: auto;
			display: inline-block !important;
		}
	}
}

ol.breadcrumb {
	border-bottom: 1px solid $border-color;
}

.header-main {
	max-width: $max-page-width;
	padding: 0;
	margin: auto;
	background-color: white;
	width: 100%;
	transition: top 0.5s;
	z-index: 99;
	&--fullwidth {
		max-width: 100%;
	}
	h1, .h1 {
		font-size: 1.5rem;
		font-weight: bold;
	}
	
	
	// Top navbar, also mobile menu
	.navbar-top {
		padding-top: 0;
		padding-bottom: 0;
		
		.navbar-collapse {
			justify-content: flex-end;
			align-items: flex-start;
			max-width: 100%;
		}
		
		ul.navbar-nav {
			flex-wrap: wrap;
			li.nav-item {
				& > a {
					//color: white;
					padding: 0.35rem 1rem;
					&:focus {
						outline: none;
					}
				}
				@include media-breakpoint-down(sm){
				.dropdown-menu {
					background-color: inherit;
					border: none;
					padding-top: 0;
					.dropdown-item {
						margin-left: 0;
						border-left: none;
						padding-left: 40px;
					}
					a {
						margin-left: $grid-gutter-width/2;
						&:hover, &:active, &:focus {
							outline: none;
						}
					}
				}
				}
			}
		}

		@keyframes cart-indicator-animation {
			from {
				transform: scale(2.5);
			}
			to {
				transform: scale(1);
			}
		}


		// Polozky zobrazene v hornim pruhu jen pri mobile view
		.nav__mobile-items {
			$mob-nav-height: 60px;
			$brand-padding-y: $grid-gutter-width/4;
				
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 100%;
			@include media-breakpoint-up($navbar_breakpoint_upper){
				display: none;
			}
			.navbar-brand {
				flex-grow: 100;
				padding-top: $grid-gutter-width/4;
				padding-bottom: $grid-gutter-width/4;
				&:first-child {
					// Add padding if this is first from left (ie no hamburger shown)
					padding-left: $grid-gutter-width/4;
				}
				// Adjust image height for SVG scaling proplerly
				img {
					//height: $mob-nav-height - $brand-padding-y * 2;
					height: $mob-nav-height - 20px;// TODO fix vypocet BS5
					width: auto;
				}
				display: flex;
				align-items: center;
				&__text {
					display: block;
					color: inherit;
					font-size: 0.875rem;
					font-weight: 600;
					margin: 0 1em;
					max-width: 12ch;
					white-space: normal;
					line-height: 1.25;
					@media(max-width:420px){
						display: none;
					}
				}
			}
			
			
			
			ul.navbar-nav {
				align-items: stretch;
				align-self: stretch;
				li.nav-item {
					flex-grow: 2;
					display: flex;
					align-items: stretch;
					.nav-link {
						$mob-nav-link-padding-y: ( $mob-nav-height - (16px * 0.9) * $line-height-base ) / 2;
						padding:  $mob-nav-link-padding-y 0.5rem !important;
						min-width: 6ch;
						text-align: center;
						@media(max-width:450px){
							min-width: 4.5ch;
						}
						&.js--search-toggle {
							.fas {
								transform: scale(1.2);
							}
						}
					}
				}
				.dropdown-menu {
					position: absolute !important;
					background-color: rgba(black,0.8) !important;
				}
			}
			.cart__price {
				@media(max-width:374px){
					display: none !important;
				}
			}
			
			// Uncomment if mobile top navbar should wrap on very narrow viewports
			/*
			@media(max-width:374px){
				flex-wrap: wrap;
				.navbar-brand {
					flex-basis: calc(100vw - 100px);
				}
				ul.navbar-nav li.nav-item a.nav-link, a.nav-link {
					padding: 0.75rem 1rem !important;
				}
			}
			*/

		}

		// Polozky zobrazene jen pri desktop view	
		.nav__desktop-items {
			@include media-breakpoint-down($navbar_breakpoint_lower){
				display: none;
			}
		}

		

		// No border on hamburger
		.navbar-toggler {
			border: none;
			font-size: 1.75rem;
			text-align: left;
			&:focus {
				outline: none;
			}
			&__icon {
				min-width: 2ch;
				display: inline-block;
				&--close {
					display: none;
				}
				&--bars {
					
				}
			}
			&[aria-expanded="true"] {
				.navbar-toggler__icon--bars {
					display: none;
				}
				.navbar-toggler__icon--close {
					display: inline-block;
				}
			}
		}

		// App name
		h1, .h1 {
			font-size: inherit;
			margin: inherit;
			padding: inherit;
			font-weight: inherit;
			line-height: inherit;
			display: inline;
		}

		.navbar-right {
			display: flex;
			align-items: center;
			ul.navbar-nav {
				order: 1;
			}
		}

		.menu-separator {
			display: block;
			width: 1px;
			align-self: stretch;
			padding: 0;
		}
		
		// do not display more than one adjacent separators
		.menu-separator + .menu-separator {
			display: none;
		}

		form.navbar-search {
			order: 0;
			padding-right: 1rem;
			margin-bottom: 0;
			input.form-control-sm {
				border-radius: 0;
				border: none;
				background-color: transparent;
				line-height: 1.1;
				padding: 2px 2px !important;
				height: 21px;
				width: 150px;
				&::placeholder {
				}
				&:focus, &:hover {
					box-shadow: none;
				}
			}
			button {
				border-radius: 0;
				background-color: transparent;
				border: none;
				&:focus {
					box-shadow: none;
				}
			}
			@include media-breakpoint-up($navbar_breakpoint_upper) {
				display: none;
			}
		}

		.basket_info {
			.cart__price {
				display: inline-block;
				margin-left: 0.5ch;
			}
		}


		@include media-breakpoint-down($navbar_breakpoint_lower){
			padding-left: 0;
			padding-right: 0;
			.navbar-right {
				display: block;
			}
			.menu-separator {
				display: block;
				height: 1px;
				width: 100%;
				margin: 0;
			}
			
			form.navbar-search {
				margin-bottom: 1.5rem;
				padding-left: $navbar-nav-link-padding-x *2;
				padding-right: $navbar-nav-link-padding-x *2;
				input.form-control-sm {
					font-size: inherit;
					max-width: calc(100% - 60px);
					width: calc(100% - 60px);
				}
			}

		}
		@include media-breakpoint-down($navbar_breakpoint_lower){
			ul.nav--2col {
				display: flex;
				flex-direction: row;
				border-width: 1px;
				border-style: none;
				border-top-style: solid;
				width: 100%;
				& > li.nav-item {
					border-color: inherit;
					border-width: 1px;
					flex-basis: 50%;
					flex-shrink: 0;
					flex-grow: 0;
					border-bottom-style: solid;
					&:nth-child(2n+1){
						border-right-style: solid;
					}
					&:nth-child(2n+1):nth-last-child(2), &:last-child {
						border-bottom-style: none;
					}

					a {
						height: 100%;
					}

					@media(max-width:360px) {
						flex-basis: 100%;
						border-right-style: none !important;
						border-bottom-style: solid !important;
					}
				}
			}

			ul.nav--scrollable {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				overflow-x: auto;
				-webkit-overflow-scrolling: touch;
				-ms-overflow-style: -ms-autohiding-scrollbar;
				& > li.nav-item {
					word-break: keep-all;
					white-space: nowrap;
				}
			}
			
			ul.nav--inline {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				& > li.nav-item {
					word-break: keep-all;
					white-space: nowrap;
					a.nav-link {
						.langswitch__flag {
							display: block;
						}
					}
				}
			}
		}
		
		// styles only for mobile variation
		&--mobile {
			//background-color: $brand !important;
			.navbar-collapse {
				ul.navbar-nav {
					li.nav-item {
						.nav-link {
							padding-top: $grid-gutter-width/4;
							padding-bottom: $grid-gutter-width/4;
						}
					}
				}
				.form-inline {
					@include header-search-form-mobile( $brand );
					margin-bottom: 0;
					border-bottom: none;
				}
			}
		}
		
		// styles only for desktop variation
		&--desktop {
			.navbar-brand {
				font-size: 1rem;
				font-weight: 600;
				a {
					color: inherit;
				}
			}
		}
		
		
		&.navbar-dark, & .navbar-collapse.navbar-dark {
			@include navbar-color-variations(white);
		}
		&.navbar-light, & .navbar-collapse.navbar-light {
			@include navbar-color-variations($body-color);
		}
		
		@include media-breakpoint-up($navbar_breakpoint_upper){
			font-size: 0.9rem;
			&.navbar-dark {
				@include navbar-color-variations(rgba(white,0.9));
			}
		}
		
	}




	// Main navbar - hidden on mobile (on mobile items are visible in top nav)
	.navbar-main, .navbar-main--mobile {
		text-transform: uppercase;
		font-weight: 600;
		ul.navbar-nav {
			li.nav-item {
				a:focus {
					outline: none;
				}
				.dropdown-toggle {
					&:after {
						border: none;
						content: "\f078";
						font-family: $fa-font-family;
						font-weight: 900;
						font-size: 0.65em;
						margin-left: 0.5em;
						//margin-top: 0.2em;
						position: relative;
						top: 0.05em;
						transition: transform 0.25s;
					}
					// The animation turned out to be a little disturbing
					//&[aria-expanded="true"] {
					//	&:after {
					//		transform: rotate(-180deg); 
					//	}
					//}
					&:focus, &:active, &:hover {
						outline: none;
						box-shadow: none;
						&:after {
							color: $navbar-dark-hover-color;
						}
					}
				}
				div.nav-link a {
					color: inherit;
					&:hover {
						text-decoration: none;
					}
				}
				.dropdown-menu {
					margin-top: 1px;
					min-width: 100%;
					text-transform: none;
					border: none;
					top: 97%;
				}
			}
		}
		
		
		&.navbar-dark {
			ul.navbar-nav {
				li.nav-item {
					.nav-link {
						color: $navbar-dark-color;
					}
					.dropdown-toggle {
						&:after {
							color: $navbar-dark-color;
						}
					}
				}
			}
		}
		&.navbar-light, &:not(.navbar-dark) {
			ul.navbar-nav {
				li.nav-item {
					.nav-link {
						color: $navbar-light-color;
					}
					.dropdown-toggle {
						&:after {
							color: $navbar-light-color;
						}
					}
				}
			}
		}
		
	}
	
	.navbar-main--mobile {
		display: block;
		.container-fluid {
			//padding-left: $grid-gutter-width;
			//padding-right: $grid-gutter-width;
			@include media-breakpoint-down(xs) {
				padding-left: $grid-gutter-width/2;
				padding-right: $grid-gutter-width/2;
			}
		}
		@include media-breakpoint-up($navbar_breakpoint_upper){
			display: none;
		}
		
		border-top-width: 1px;
		border-top-style: solid;
		
		&.navbar-dark {
			border-color: rgba(white,0.5);
			ul.navbar-nav {
				li.nav-item {
					border-color: rgba(white,0.5);
					border-width: 1px;
					.nav-link {
						color: white;
					}
				}
			}
		}
		&.navbar-light, &:not(.navbar-dark) {
			border-color: rgba($body-color,0.5);
			ul.navbar-nav {
				li.nav-item {
					border-color: rgba($body-color,0.5);
					border-width: 1px;
					.nav-link {
						color: $body-color;
					}
				}
			}
		}
		
		ul.navbar-nav {
			flex-wrap: wrap;
			width: 100%;
			font-size: 0.9rem;
			li.nav-item {
				//border-color: rgba(white,0.5);
				//border-width: 1px;
				.nav-link {
					height: 100%;
					color: white;
					padding: $grid-gutter-width/4 1rem;
					&:hover {
						background-color: $primary;
						color: white;
					}
				}
				@include media-breakpoint-between(sm, $navbar_breakpoint_upper){
					flex-basis: 25%;
					border-right-style: solid;
					border-bottom-style: solid;
					&:nth-child(4n+4) {
						border-right-style: none;
					}
					&:nth-last-child(4):nth-child(4n+1),
					&:nth-last-child(3):nth-child(4n+1),
					&:nth-last-child(2):nth-child(4n+1),
					&:nth-last-child(1):nth-child(4n+1) {
						&, & ~ * {
							border-bottom-style: none;
						}
					}
				}
				@include media-breakpoint-down(xs){
					flex-basis: 50%;
					border-right-style: solid;
					border-bottom-style: solid;
					&:nth-child(2n+2) {
						border-right-style: none;
					}
					&:nth-last-child(2):nth-child(2n+1),
					&:nth-last-child(1):nth-child(2n+1) {
						&, & ~ * {
							border-bottom-style: none;
						}
						
					}
				}
				@media(max-width: 360px) {
					flex-basis: 100%;
					border-bottom-style: solid !important;
					border-right-style: none;
				}
			}
		}
		
	}





	// Space for logo
	.logospace {
		margin: $grid-gutter-width/2 $grid-gutter-width/2;
		display: flex;
		justify-content: center;
		.logospace__logo {
			display: block;
			max-width: 200px;
			@include media-breakpoint-down(xs){
				max-width: 150px;
			}
			img {
				width: auto;
				height: 75px;
			}
			// Uncomment to shrink logo on medium viewport
			// Adjust values as needed
			/*
			@media(max-width: 860px)and(min-width: map-get($grid-breakpoints, $navbar_breakpoint_upper)){
				max-width: 160px;
				width: 160px;
				img {
					height: auto;
					max-width: 100%;
				}
			}
			*/
		}
	}
	

	// Search and user and language links - hidden on mobile (on mobile items are visible in top nav)
	&__mainbar {
		
		$mainbar-link-padding-x: $nav-link-padding-x;
		
		display: flex;
		justify-content: space-between;
		
		.logospace {
			order: 1;
			padding: $grid-gutter-width/2 $grid-gutter-width/2;
			padding-left: 0;
			margin: 0;
			justify-content: flex-start;
		}
		.mainbar__controls {
			order: 2;
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: 1fr auto 1fr;
			& > * {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;
			}
			.mainbar__top {
				align-self: start;
				grid-row: 1/2;
			}
			.mainbar__middle {
				align-self: center;
				align-self: end;
				grid-row: 2/3;
				// Uncomment to shrink search field on medium viewport.
				// Adjust numbers as needed.
				/*
				@media(max-width:820px){
					input.form-control[type="text"] {
						max-width: 210px;
					}
				}
				*/
			}
			.mainbar__bottom {
				align-self: end;
				grid-row: 3/4;
			}
			.mainbar__search_cart {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;
				align-items: center;
				form {
					margin: 0;
					padding-left: $mainbar-link-padding-x;
					padding-right: $mainbar-link-padding-x;
				}
			}
			a {
				color: inherit;
			}
			ul.nav {
				justify-content: flex-end;
				li.nav-item {
					a.nav-link {
						padding-left: $mainbar-link-padding-x;
						padding-right: $mainbar-link-padding-x;
					}
					&:last-child {
						a.nav-link {
							padding-right: 0;
						}
					}
				}
			}
		}
		.nav-link--border {
			border: 1px solid $border-color;
			padding: $input-btn-padding-y $input-btn-padding-x !important;
			font-size: $input-btn-font-size;
			line-height: $input-btn-line-height;
		}
		
		
		@include media-breakpoint-down($navbar_breakpoint_lower){
			display: none;
		}
		
		
	}
	
	.nav--main-mobile {
		outline: 1px solid black;
	}
	
	.search-form-mobile {
		@include header-search-form-mobile( $brand );
		width: 100%;
		margin-bottom: 0;
		border-bottom: none;
		display: none;
		&.show {
			@include media-breakpoint-down($navbar_breakpoint_lower){
				display: flex;
			}
		}
	}
	
}

.basket_info {
	a {
		color: inherit;
	}
	line-height: 1.3;
	
	.cart__price {
		font-size: 0.75rem;//$font-size-sm;
		font-weight: bold;
	}
}

.cart-num-items {
	$size: 1.25rem; 
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: $size;
	height: $size;
	border-radius: $size/2;
	background-color: $primary;
	line-height: 1;
	color: color-yiq($primary);
	text-align: center;
	padding: 0 $size/4;
	font-size: 0.875rem;
	font-weight: bold;
	&--changed {
		animation: cart-indicator-animation;
		animation-duration: 0.5s;
		animation-iteration-count: 1;
	}
}

.header-favourites {
	display: flex;
	position: relative;
	align-items: center;
	&__icon {
		position: relative;
		.fas, .far {
			font-size: 2rem;
			color: $primary;
		}
		&__text {
			position: absolute;
			width: 100%;
			height: auto;
			left: 0;
			top: 0.5rem;
			display: block;
			text-align: center;
			align-items: center;
			font-size: $font-size-sm;
			font-size: 0.825rem;
			color: white;
			line-height: 1;
			font-weight: bolder;
		}
		&--empty {
			.fas, .far {
				color: $gray-600;
			}
		}
	}
	&--just-added {
		.header-favourites__icon {
			animation-name: header-fav;
			animation-duration: 0.25s;
			animation-iteration-count: 1;
			transform: scale(1);
			@keyframes header-fav {
				0%   {transform: scale(5); opacity: 0.25;}
				100% {transform: scale(1); opacity: 1;}
			}
		}
	}

	// header favourites in mobile main bar
	.navbar-top--mobile & {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		align-self: stretch;
		.header-favourites__icon {
			.fas, .far {
				font-size: 1.5rem;
			}
			&__text {
				display: none; // font would be too small
				font-size: 0.75rem;
				top: 0.35rem;
			}
			&--empty {
				.fas, .far {
					color: white;
				}
			}
		}
		&:hover {
			background-color: $primary;
			.header-favourites__icon {
				.fas, .far {
					color: white;
				}
				&__text {
					color: $primary;
				}
			}
		}
	}
}
