.iobject {
	
	margin: $grid-gutter-width 0;
	
	// caption - title, description
	.iobject__caption {
		margin-top: 0.5rem;
		padding-bottom: 0.5rem;
		border-bottom: 1px solid $border-color;
		font-size: 0.875rem;
		.iobject__title {
			font-weight: 600;
			.iobject__title__separator {
				color: $gray-500;
				font-weight: normal;
			}
		}
		.iobject__description {
			font-style: italic;
		}
	}
	
	&__heading {
		@extend h3;
	}
	
	// type-specific props
	&--video {
	}
	&--picture {
	}
	&--gallery {
		section.photo-gallery {
			margin: 0;
		}
	}
	&--file {
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		& > a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 0.2em;
			&:hover {
				background-color: $border-color;
				text-decoration: none;
			}
			&:focus {
				outline: none;
			}
		}
		.fileicon {
			padding-right: 0.5em;
			font-size: 1.5em;
		}
		.iobject--file__meta {
			color: $body-color;
			font-size: 0.75rem;
		}
		
		& + & {
			margin-top: 0-$grid-gutter-width;
			border-top: none;
		}
	}
	&--card_promotion {
		display: flex;
		background-color: white;
		text-decoration: none;
		color: inherit;
		border-bottom: 1px solid $border-color;
		border-top: 1px solid $border-color;
		.iobject__image {
			flex-basis: 200px;
			flex-shrink: 0;
			position: relative;
			.iobject__flags {
				position: absolute;
				right: 1rem;
				top: 1rem;
			}
		}
		.iobject__body {
			display: flex;
			flex-direction: column;
			flex-grow: 10;
			justify-content: space-between;
			padding: $grid-gutter-width/2;
			.iobject__title {
				font-size: 1.25rem;
			}
			.iobject__description {
				font-size: 0.875rem;
			}
			.iobject__footer {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				margin-top: 1rem;
				.card-footer-icon {
					font-size: 1.25rem;
				}
			}
		}
		@media(max-width: 700px){
			display: block;
		}
		&:hover {
			text-decoration: none;
			color: inherit;
			//box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.35);
			background-color: $gray-100;
		}
		& + & {
			margin-top: 0-$grid-gutter-width;
			border-top: none;
		}
	}
	@include media-breakpoint-down(xs){
		& > a {
			padding-top: 0.75rem;
			padding-bottom: 0.75rem;
			display: block;
			.fileicon {
				display: block;
			}
			.iobject--file__meta {
				display: block;
			}
		}
	}

	&--contact {
		border: 1px solid $border-color;
		padding: $grid-gutter-width/2;
		background-color: $gray-100;
		
		margin: $grid-gutter-width/2 0;
		
		//max-width: 550px;
		
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		
		
		
		.iobject__image {
			img {
				width: 100px;
				height: auto;
				border-radius: 50%;
				border: 1px solid $border-color;
				display: block;
			}
			flex-basis: (100px+$grid-gutter-width/2);
			flex-shrink: 0;
			margin-bottom: $grid-gutter-width/2;
		}
		.iobject__title {
			line-height: 1.1;
			span {
				display: block;
				font-size: $font-size-sm;
				color: $body-color;
			}
			margin-bottom: 1rem;
		}
		.iobject__body {
			flex-grow: 100;
			flex-shrink: 0;
			min-width: 240px;
			min-height: calc(100% - 115px); // needed to be stretched vertically
			flex-basis: calc(100% - #{100px+$grid-gutter-width/2});
			
			display: flex;
			flex-direction: column;
			
			.iobject__description {
				flex-grow: 100;
			}
			
			.iobject__body-bottom {
				display: flex;
				align-items: center;
				border-top: 1px solid $border-color;
				padding-top: $grid-gutter-width/2;
				& > div {
					flex-basis: 50%;
				}
			}
		}
		.iobject__qr-code {
			width: 5cm;
			max-width: 100%;
			height: auto;
		}
		.iobject__footer {
			flex-basis: 100%;
		}
		
	}
	
	&--contact-group {
		.iobject__cards {
			display: flex;
			flex-wrap: wrap;
			margin: $grid-gutter-width/2 0-$grid-gutter-width/2;
			& > .iobject--contact {
				flex-basis: calc(50% - #{$grid-gutter-width});
				margin: $grid-gutter-width/2;
				min-width: 280px;
				
				&:first-child:last-child {
					flex-basis: 100%;
					flex-grow: 10;
					max-width: 100%;
				}

				@media(max-width:700px){
					flex-basis: 100%;
					flex-shrink: 2;
				}
			}
		}
		
	}
	
}

// Photoswipe shows caption extracted from figcaption tag,
// so we must hide unwanted zoom icon in photoswipe view
.pswp__caption {
	.iobject--picture__link, .iobject__title__separator {
		display: none;
	}
	.iobject__title {
		font-weight: 600;
	}
}
