	.langswitch {
		.langswitch-flag {
			// Sizing for SVG flag. Flags do not have the same aspect ratios so we set fixed height only.
			display: inline-block;
			height: 0.9em;
			width: auto;
			vertical-align: baseline;
			margin-left: 0.125em;
			&:first-child {
				margin-left: 0;
				margin-right: 0.125em;
			}
		}
	}