$breakpoint_xs: map-get($grid-breakpoints, "xs");
$breakpoint_sm: map-get($grid-breakpoints, "sm");
$breakpoint_md: map-get($grid-breakpoints, "md");
$breakpoint_lg: map-get($grid-breakpoints, "lg");
$breakpoint_xl: map-get($grid-breakpoints, "xl");
@debug "Breakpoints";
@debug "xs #{$breakpoint_xs}";
@debug "sm #{$breakpoint_sm}";
@debug "md #{$breakpoint_md}";
@debug "lg #{$breakpoint_lg}";
@debug "xl #{$breakpoint_xl}";
@debug "-----------------";

$navbar_breakpoint_upper: breakpoint-next($navbar_breakpoint_lower);

body {
	// styles to keep footer at the bottom on pages with very short content
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 100vh;
	& > * {
		width: 100%;
		flex-grow: 0;
		&.body {
			flex-grow: 100;
		}
	}
}


.body {
	// Main content container
	background-color: white;
	max-width: $max-page-width;
	margin: auto;
}
.body, .body__sticky__container {
	padding-top: $grid-gutter-width;
	padding-bottom: $grid-gutter-width*2;
	@include media-breakpoint-down($navbar_breakpoint_upper){  // bs5 breakpoint down
		padding-top: $grid-gutter-width/2;
	}
}
.body--upper {
	// Before main container, used for content without .container-fluid
	background-color: white;
	max-width: $max-page-width; // remove to make content full width 
	margin: auto;
	padding-top: $grid-gutter-width;
	&:empty {
		display: none;
	}
}
.container-fluid {
	// extending Bootstrap .container-fluid
	max-width: $max-page-width;
	margin: 0 auto;
	@include media-breakpoint-up( sm ){
		padding: 0 $grid-gutter-width;
	}
}

// Applies CSS Grid for layout w/sidebar
.body.has-nav-section {
	.body__sticky-container {
		
		@include media-breakpoint-up(breakpoint-next($sidebar-collapse-breakpoint)) {
			display: grid;
			// minmax function is needed for Swiper to calculate its width correctly
			grid-template-columns: $sidebar-width minmax(0,1fr);
			align-items: start;
			.nav-section {
				grid-column: 1/2;
			}
			& > *:not(.nav-section) {
				grid-column: 2/3;
				height: 100%;
			}
		}

	}
}

// Sidebar on the left edge of viewport
.body.has-nav-section.has-nav-section--wide {
	@include media-breakpoint-up(breakpoint-next($sidebar-collapse-breakpoint)) {
		width: 100%;
		max-width: 100%;
		.body__sticky-container {
			grid-template-columns: 1fr $max-page-width 1fr;
		}
	}
	@media(max-width: $max-page-width + 2 * $sidebar-width ) {
		.body__sticky-container {
			grid-template-columns: 1fr $max-page-width;
		}
	}
	@media(max-width: $max-page-width + $sidebar-width ) {
		.body__sticky-container {
			grid-template-columns: $sidebar-width minmax(0,1fr);
		}
	}
}
