.body {
	background-color: white;
	max-width: $max-page-width;
	margin: auto;
	padding-top: $grid-gutter-width;
	@include media-breakpoint-down($navbar_breakpoint_lower){
		padding-top: $grid-gutter-width/2;
	}
}
.body--upper {
	background-color: white;
	max-width: $max-page-width;
	margin: auto;
	padding-top: $grid-gutter-width;
	&:empty {
		display: none;
	}
}
.container-fluid {
	max-width: $max-page-width;
	margin: auto;
	@include media-breakpoint-up( sm ){
		padding: 0 $grid-gutter-width;
	}
}

// Applies CSS Grid for layout w/sidebar

.has-nav-section {
	.nav-section {
		//display: none;
	}
	@include media-breakpoint-up(breakpoint-next($sidebar-collapse-breakpoint)){
		display: grid;
		padding-left: 0;
		grid-template-columns: 230px minmax(0,1fr);
		grid-template-rows: auto 1fr;
		grid-template-areas: 'sidebar breadcrumb' 'sidebar mainbody';
		//grid-gap: $grid-gutter-width/2;
		
		& > *:not(.nav-section) {
			padding-left: $grid-gutter-width;
			align-self: start;
		}
		
		.nav-section {
			display: block;
			grid-area: sidebar;
			//border-right: 1px solid $border-color;
			//padding-right: $grid-gutter-width/2;
			align-self: start;
		}
		
		.nav--breadcrumb {
			grid-area: breadcrumb;
			align-self: start;
		}
		
		.content-main {
			grid-area: mainbody;
		}
	}
	
	
	@include media-breakpoint-down($sidebar-collapse-breakpoint){
		.nav-section {
			//border-bottom: 1px solid $gray-300;
			//padding-bottom: $grid-gutter-width/2;
			//margin-bottom: $grid-gutter-width/2;
		}
	}
}

footer {
	margin-top: $grid-gutter-width*2;
}

header {
	//background-color: white;
}
