// List for tree-view of categories etc.

// Parent list with root item
ul.list--categories {
	
	@extend .list-unstyled;
	
	em, .fa, .fas, .far  {
		font-size: 0.9em;
		color: $gray-600;
	}
	
	> li > ul.list--tree {
		margin-left: 0.5rem;
	}
}

// Draw tree branches in nested lists
ul.list--tree {
	
	$lineWidth: 3px;
	$lineColor: $gray-300;
	$lineRadius: 12px;
	$bulletWidth: 20px;
	$itemPaddingY: 0.15em;
	
	list-style: none;
	padding: 0;
	padding-left: $bulletWidth + 5px;
	
	li {
		position: relative;
		padding: $itemPaddingY 0 $itemPaddingY*4 0.5em;
		margin: 0;
		
		&:before {
			position: absolute;
			left: 0-$bulletWidth;
			top: 0;
			content: '';
			width: $bulletWidth;
			height: 16px;
			border-left: $lineWidth solid $lineColor;
			border-bottom: $lineWidth solid $lineColor;
			border-radius: 0 0 0 $lineRadius;
		}
		
		&:after {
			position: absolute;
			left: 0-$bulletWidth;
			top: 0;
			content: '';
			width: $bulletWidth;
			height: 100%;
			border-left: $lineWidth solid $lineColor;
		}
		
		
		&:last-child:after {
			border-left: none;
		}
	}
	
	h1, h2, h3, h4, p {
		margin-bottom: 0;
	}
	
}


// List group of subcategories
.list-group--categories {
	.list-group-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.list-group-item-product {
			.list-group-item-thumbnail {
				min-width: 36px;
				margin-right: 0.5rem;
			}
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
		.list-group-item-heading {
			margin-bottom: 0;
			line-height: 1.1;
		}
		.list-group-item-text {
			margin-bottom: 0;
		}
	}
}


ul.list--categories {
	@include media-breakpoint-up(sm) {
		display: flex;
		flex-wrap: wrap;
		.list-item {
			flex-basis: 50%;
			&:nth-last-child(1), &:nth-last-child(2) {
				margin-bottom: 0;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.list-item {
			flex-basis: percentage(1/3);
			&:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3) {
				margin-bottom: 0;
			} 
		}
	}
	.list-item {
		margin-bottom: 0.5rem;
		a {
			display: flex;
			align-items: flex-start;
			.child-category {
				&__image {
					margin-right: 0.5rem;
					flex-grow: 0;
				}
				&__text {
					padding-right: 0.5rem;
					&__title {
						font-weight: 600;
						font-size: inherit;
						color: $link-color;
						margin: 0;
						small {
							color: $body-color;
						}
						.fas {
							color: currentColor;
						}
					}
					&__teaser {
						color: $body-color;
						margin: 0;
						font-size: 0.875rem;
					}
				}
			}
		}
	}
	
	// larger bottom space if (some) items have teasers
	&--teasers {
		.list-item {
			margin-bottom: 1rem;
		}
	}
	// vertically centered text if (some) items have images but no teaser
	&--images:not(.list--categories--teasers){
		.list-item {
			a {
				height: 100%;
				.child-category {
					&__text {
						align-self: center;
					}
				}
			}
		}
	}
}