ol.timeline {
	counter-reset: checkout-counter;
	list-style-type: none;
	padding: 0;
	display: flex;
	margin-bottom: $grid-gutter-width;
	li.timeline__item {
		counter-increment: checkout-counter;
		flex-basis: 25%;
		flex-grow: 1;
		flex-shrink: 1;
		background-color: $gray-200;
		//padding-left: $list-group-item-padding-y;
		//padding-right: $list-group-item-padding-y;
		margin-right: 2px;
		padding: 0;
		& > * {
			display: flex;
			width: 100%;
			height: 100%;
			padding: $list-group-item-padding-y;
			font-weight: 600;
			
			&:before {
				$bulletSize: 1.5em;
				content: counter(checkout-counter);
				display: inline-flex;
				justify-content: center;
				align-items: center;
				background-color: $brand;
				//background-color: $primary;
				color: white;
				line-height: 1;
				width: $bulletSize;
				height: $bulletSize;
				flex-basis: $bulletSize;
				flex-shrink: 0;
				flex-grow: 0;
				border-radius: $bulletSize/2;
				vertical-align: middle;
				font-weight: 600;
				margin-right: 0.5em;
			}
		}
		& > a:hover {
			text-decoration: none;
			background-color: $gray-100;
			&:before {
				color: white;
				text-decoration: none !important;
			}
			span.timeline__item-title {
				color: $primary;
			}
		}
		
		&:last-child {
			margin-right: 0;
		}
		
		&.active {
			background-color: $secondary;
			color: white;
			border-color: $secondary;
		}
		
		&.disabled {
			background-color: $gray-200;
		}
	}
	
	@include media-breakpoint-down(sm){
		display: block;
		li.timeline__item {
			margin-right: 0;
			margin-bottom: 1px;
			&:last-child {
				margin-bottom: 0;
			}
			& > * {
				padding: $list-group-item-padding-y*0.75 $list-group-item-padding-y;
			}
		}
	}
}


@mixin listRadiosLayout( $compact: false ) {
	// vert padding of label element
	$itemVPadding: null;
	@if $compact {
		$itemVPadding: 0rem;
	}	@else {
		$itemVPadding: 0.375rem;
	}
	// horiz padding of label element
	$itemHPadding: 0.75rem;
	//radio outer ring size
	$inputSize: 1.25rem;
	// radio inner dot size
	$dotSize: $inputSize*0.4;
	// correction to help with nice vertical centering
	$yCorrection: 0.1rem;
	// height of label content (without padding)
	$minHeight: 50rem/16;
	// height of label content on XS view
	$minHeightXS: 30rem/16;
	// thumbnail height (50px in rem unit)
	$imageSize: $minHeight;
	// thumbnail height XS (30px in rem unit)
	$imageSizeXS: 30rem/16;
	// top padding for text labels
	$textPaddingTop: ($minHeight - $font-size-base * $line-height-base)/2;
	// top padding for text labels XS
	$textPaddingTopXS: ($minHeightXS - $font-size-base * $line-height-base)/2;

	li.list__item {
		background-color: $gray-100;
		margin-bottom: $grid-gutter-width/4;
		//cursor: pointer;

		&--disabled {
			transition: opacity 0.2s linear;
			opacity: 0.5;
		}
		
		.form-check {
			position: relative;
			padding: 0;
			input[type="radio"], input[type="checkbox"] {
				position: absolute;
				top: $itemVPadding + $yCorrection;
				left: $itemHPadding;
				//margin-right: 0;
				margin: 0;
			}
			
			input[type=radio] {
				opacity: 0;
			}
			
			input[type=radio] ~ label {
				&:before {
					position: absolute;
					left: $itemHPadding;
					top: $itemVPadding + $imageSize/2 - $inputSize/2;
					display: block;
					content: "";
					width: $inputSize;
					height: $inputSize;
					border: 1px solid $border-color;
					background-color: white;
					border-radius: 50%;
				}
			}
			
			input[type=radio]:checked ~ label {
				&:before {
					background-color: $primary;
					border-color: $primary;
				}
				&:after {
					position: absolute;
					display: block;
					left: $itemHPadding + ($inputSize - $dotSize) / 2;
					top: $itemVPadding - $dotSize / 2  + $imageSize / 2;
					width: $dotSize;
					height: $dotSize;
					border-radius: 50%;
					background-color: white;
					content: "";
				}
			}
			
			input:checked~label {
				//outline: 1px solid $border-color;
			}
			
			label {
				display: flex;
				align-items: flex-start;
				min-height: $minHeight + 2 * $itemVPadding;
				position: relative;
				padding: $itemVPadding $itemHPadding;
				padding-left: $itemHPadding * 2 + $inputSize;
				
				.label__image {
					display: block;
					max-width: 50px;
					img {
						width: 50px;
						height: auto;
					}
				}
				.label__name {
						font-weight: 600;
						line-height: 1.2;

				}
				.label__description {
					font-size: 0.875rem;
					margin-top: 0.5em;
					table.table {
						td, th {
							padding: 0.25rem;
						}
					}
					*:last-child {
						margin-bottom: 0;
					}
					&__title {
						font-weight: $font-weight-bold;
					}
				}
				.label__price {
					font-weight: 600;
					text-align: end;
					//color: black;
					&--free {
						color: $success;
					}
					&--long {
						display: inline-block;
						font-size: $font-size-sm;
						line-height: 1.2;
					}
				}

				// simpler variation when label contains just one span
				.label__text {
					min-height: $minHeight;
					display: flex;
					flex-direction: column;
					justify-content: center;
					line-height: 1.2;
				}
			}
			&.form-check--with-image {
				label {
					display: grid;
					grid-template-columns: $minHeight 1fr auto;
					grid-template-rows: minmax( $minHeight, max-content) auto;
					gap: 10px;
					align-items: center;
					.label__image {
						grid-column: 1 / 2;
					}
					.label__name {
						grid-column: 1 / -2;
					}
					.label__image + .label__name {
						grid-column: 2 / -2;
					}
					.label__price {
						grid-column: -2 / -1;
						padding: 0;
						margin: 0;
					}
					.label__description {
						grid-row: 2 / 3;
						grid-column: 1 /-2;
					}
					.label__image ~ .label__description {
						grid-row: 2 / 3;
						grid-column: 2 /-2;
					}
					@include media-breakpoint-down(sm) {
						.label__description, .label__image ~ .label__description {
							grid-row: 2 / 3;
							grid-column: 1 / -1;
						}
					}
					@include media-breakpoint-down(xs) {
						min-height: $minHeightXS;// + 2 * $itemVPadding;
						grid-template-columns: $minHeightXS 1fr auto;
						grid-template-rows: minmax( $minHeightXS, max-content) auto minmax( 0, max-content);
						.label__name {
							font-size: 0.9rem;
							line-height: 1.1;
							grid-column: 1 / -1;
						}
						.label__image + .label__name {
							grid-column: 2 / -1;
						}
						.label__image {
							img {
								width: $minHeightXS;
								max-width: $minHeightXS;
							}
						}
						.label__price {
							grid-column: 1 / -1;
							grid-row: 2 / 3;
						}
						.label__description {
							grid-row: 3 / 4 !important;
						}
					}
				}
			}

			@include media-breakpoint-down(xs) {
				input[type=radio] ~ label {
					&:before {
						top: $itemVPadding + $imageSizeXS/2 - $inputSize/2;
					}
				}
				input[type=radio]:checked ~ label {
					&:after {
						top: $itemVPadding - $dotSize / 2  + $imageSizeXS / 2;
					}
				}

				label {
					min-height: $minHeightXS;// + 2 * $itemVPadding;
					padding-top: $itemVPadding;
					padding-bottom: $itemVPadding;
					
					.v-image {
						flex-basis: 30px;
						max-width: 30px;
						img {
							width: 30px;
						}
					}
					.v-description {
						.v-name {
							min-height: $minHeightXS;
						}
					}
					.v-price {
						padding-top: $textPaddingTopXS;
						&--long {
						}
					}
					.label__text {
						min-height: $minHeightXS;
					}
				}
			}
			
			

	@media(max-width:450px){}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

ul.list--radios {
	@include listRadiosLayout( true );
}
ul.list--radios--lg {
	@include listRadiosLayout( false );
}

ul.list--checkboxes {
	list-style: none;
	padding-left: 0;
	columns: 5;
	li.list__item {
	}
	@include media-breakpoint-down(lg){
		columns: 4;
	}
	@include media-breakpoint-down(md){
		columns: 3;
	}
	@include media-breakpoint-down(sm){
		columns: 2;
	}
	@include media-breakpoint-down(xs){
		columns: 1;
	}
}

ul.list--active-filters {
	list-style: none;
	padding-left: 0;
	margin-bottom: $grid-gutter-width/2;
	li.list__item {
		display: inline-block;
		margin: 0 0.5em 0.25em 0;
		a {
			display: inline-block;
			background-color: $gray-100;
			padding: 0 0.85em;
			border-radius: 1em;
			color: inherit;
			strong {
				color: $danger;
			}
			&:hover {
				text-decoration: none;
				background-color: $danger;
				color: white;
				strong {
					color: white;
				}
			}
		}
	}
}

// prosty UL/OL list bez jakekoliv tridy uvnitr clanku nebo .list--simple
.article__body ul:not([class]), .page__body ul:not([class]), ul.list--simple, ul.list--ul, .form-check--with-image ul {
	padding-left: 1.25em;
	list-style: none;
	margin-bottom: $grid-gutter-width;
	> li {
		margin-bottom: 0.75em;
		position: relative;
		&:before {
			content: "\2022";
			position: absolute;
			left: 0.25em;
			top: 0;
			color: $primary;
			font-weight: bold;
			display: inline-block;
			width: 1.5em;
			margin-left: -1.5em;
		}

		ul:not([class]){
			margin-top: 0.75em;
			margin-bottom: 0;
			> li {
				&:before {
					content: "\2012";
				}
			}
		}
	}
}

.article__body ol:not([class]), .page__body ol:not([class]), ol.list--simple, ul.list--ol {
	padding-left: 1.75em;
	list-style: none;
	margin-bottom: $grid-gutter-width;
	counter-reset: ol-counter 0;
	> li {
		//clear: both;
		counter-increment: ol-counter;
		margin-bottom: 0.75em;
		position: relative;
		&:before {
			content: counter(ol-counter)".";
			position: absolute;
			left: 0em;
			top: 0;
			color: $primary;
			display: inline-block;
			width: 1.5em;
			margin-left: -1.5em;
			font-weight: bold;
		}

		ol:not([class]){
			margin-top: 0.75em;
			margin-bottom: 0;
			& > li {
				&:before {
					content: counter(ol-counter, lower-alpha)".";
				}
			}
		}
	}
}

.list--icons {
	text-align: initial;
	@extend .list-unstyled;
	li {
		display: flex;
		.list--icons__icon {
			display: block;
			flex-basis: 3ch;
			flex-grow: 0;
			color: $secondary;
			flex-shrink: 0;
		}
		.list--icons__value {
			display: block;
			line-break: anywhere;
		}
	}
}

.list--categories-mini {
	@extend .list-unstyled;
	& > li {
		margin-bottom: 0.25em;
		line-height: 1.1;
		&:not(.list-item--more) {
			padding-left: 2ch;
			position: relative;
			&::before {
				content: "\f07b";
				font-family: $fa-font-family;
				font-weight: 400;
				display: flex;
				position: absolute;
				left: 0;
				top: 0;
				height: 1.25em;
				font-size: 0.75em;
				//background-color: chartreuse;
				align-items: center;
			}
		}
	}
}

