//noUiSlider
.noui-slider__wrapper {

	// Color scheme
	$noUiSliderPrimaryColor: $primary;
	$noUiSliderSecondaryColor: $gray-500;
	$noUiSliderTextColor: color-yiq($noUiSliderPrimaryColor);


	// padding tu musi byt jinak kolapsuje margin 'noUi-target'
	padding: 0.5rem 0 1px;


	.noUi-horizontal {
		height: 0.25rem;
	}

	.noUi-target {
		border-radius: 0;
		margin: 0.5em 1em 2.5em;
		box-shadow: none;
		border: none;
		background: $noUiSliderSecondaryColor;
		@include media-breakpoint-down(sm){  // bs5 breakpoint down
			margin-left: 0;
			margin-right: 0;
		}
	}

	.noUi-horizontal .noUi-tooltip {
		bottom: auto;
		top: 100%;
		background: $noUiSliderPrimaryColor;
		color: $noUiSliderTextColor;
		font-weight: $font-weight-bolder;
		border: none;
		border-radius: 0;
		line-height: 1;
		font-size: $font-size-sm;
		padding: 0.5em;
		&::after {
			content: "";
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(213, 0, 0, 0);
			border-bottom-color: $noUiSliderPrimaryColor;
			border-width: 0.4em;
			margin-left: -0.4em;
		}
	}

	.noUi-connect {
		background: $noUiSliderPrimaryColor;
	}

	.noUi-active {
	}

	.noUi-handle {
		outline: none;
		background: none;
		border: none;
		&::before {
			$handleSize: 0.9em;
			content: "";
			width: $handleSize;
			height: $handleSize;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			background: $noUiSliderPrimaryColor;
			border-radius: 50%;
		}
		&::after {
			content: none;
		}
	}

	.noUi-origin {
		top: 50%;
	}

	.noUi-horizontal .noUi-handle {
		border-radius: 0;
		box-shadow: none;
		transform: translateY(-50%);
		top: 50%;
	}

	.noui-slider--disabled {
		.noUi-connect,
		.noUi-handle::before,
		.noUi-tooltip {
			background: $noUiSliderSecondaryColor;
		}
		.noUi-tooltip::after {
			border-bottom-color: $noUiSliderSecondaryColor;
		}
	}
}
