#offcanvas-basket {

  $largeSizingBreakpoint: md;

  --item-h-padding: #{$grid-gutter-width/8};
  --item-v-padding: #{$grid-gutter-width/8};
  --sidebar-padding: #{$grid-gutter-width/4};

  @include media-breakpoint-up($largeSizingBreakpoint) {
    --item-h-padding: #{$grid-gutter-width/4};
    --item-v-padding: #{$grid-gutter-width/4};
    --sidebar-padding: #{$grid-gutter-width/2};
  }


  .bs-offcanvas-header {
    padding: var(--sidebar-padding);
  }

  .bs-offcanvas-content {
    overflow: visible;
    display: flex;
    flex-direction: column;
    .basket-content {

      &[data-status="loading"] {
        display: none;
      }
      &[data-status="loaded"] {
        flex-grow: 100;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
      }
      &[data-status="error"] {
        display: none;
      }

      &__empty {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }

      &__items {
        flex-grow: 100;
        overflow-y: auto;
      }

      &__total {
        padding: $form-grid-gutter-width;
        padding: var(--sidebar-padding);
        padding-bottom: 0;
        border-top: 1px solid $border-color;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        .description {
          padding-right: 1ch;
        }
        .price {
          font-weight: bold;
        }
        &::after {
          $gradientHeight: 12px;
          position: absolute;
          top: 0 - $gradientHeight;
          height: $gradientHeight;
          width: 100%;
          left: 0;
          display: block;
          content: " ";
          background: linear-gradient(0deg, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%); 
        }
      }
    }

    .basket-loading, .basket-error {
      display: none;
    }

    .basket-content[data-status="loading"] ~ .basket-loading {
      flex-grow: 100;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
      p {
        margin-top: 1em;
      }
    }

    .basket-content[data-status="error"] ~ .basket-error {
      flex-grow: 100;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: $danger;
      padding: $grid-gutter-width/2;
    }

    .basket-link {
      flex-grow: 0;
      padding: $grid-gutter-width/4;
      padding: var(--sidebar-padding);
      .btn {
        display: block;
        .fas,.far {
          color: inherit;
          &:first-child {
            margin-right: 1ch;
          }
          &:last-child {
            margin-left: 1ch;
          }
        }
      }
    }

    .basket-content[data-status="loading"] ~ .basket-link, .basket-content--empty ~ .basket-link {
      display: none;
    }

  }

  .table--offcanvas-basket {
    width: 100%;
    .item {
      border-bottom: 1px solid $border-color;
      font-size: $font-size-sm;
      line-height: 1.1;
      td {
        padding: $grid-gutter-width/8;
        padding: var(--item-v-padding) var(--item-h-padding);
      }
      &__image {
        padding-left: $grid-gutter-width/4 !important;
        padding-left: var(--sidebar-padding) !important;
        img {
          width: 50px;
          height: auto;
        }
      }
      &__name {
        font-weight: $font-weight-bold;
        a {
          color: inherit;
          &:hover {
            color: $link-hover-color;
          }
        }
      }
      &__quantity {
        white-space: nowrap;
        text-align: right;
      }
      &__price {
        white-space: nowrap;
        text-align: right;
        font-weight: $font-weight-bold;
        padding-right: $grid-gutter-width/4 !important;
        padding-right: var(--sidebar-padding) !important;
      }
      &__actions {
        padding-left: 0 !important;
        a {
          display: inline-block;
          padding: 0.5rem;
        }
      }
    }

    // Small amounts of items have bigger images on big viewports
    @mixin sizeThumbnailsByCount( $maXCount, $largeThumbSize:80px, $smallThumbSize:50px  ){
      // Mixin for sizing items thumbnails according to items count
      .item__image {
        img {
          width: $largeThumbSize;
          height: auto;
        }
      }
      &:first-child:nth-last-child(n+#{$maXCount+1}), &:first-child:nth-last-child(n+#{$maXCount+1}) ~ * {
        .item__image {
          img {
            width: $smallThumbSize;
            height: auto;
          }
        }
      }
    }

    $minSizingBreakpoint: map-get($grid-breakpoints, $largeSizingBreakpoint);

    @media(min-width: $minSizingBreakpoint) and (min-height: 600px) and (max-height:749px) {
      .item {
        @include sizeThumbnailsByCount( 4 );
      }
    }
    @media(min-width: $minSizingBreakpoint) and (min-height: 750px) and (max-height:919px) {
      .item {
        @include sizeThumbnailsByCount( 6 );
      }
    }
    @media(min-width: $minSizingBreakpoint) and (min-height: 920px) {
      .item {
        @include sizeThumbnailsByCount( 8 );
      }
    }

    @media(max-width:460px) {
      display: block;
      width: 100%;
      tbody {
        display: block;
      }
      tr.item {
        display: grid;
        background-color: rgba (deeppink,.25);
        grid-template-columns: 65px 1fr 1fr 40px;
        grid-template-rows: auto 1fr;
        td {
          display: block;
          &.item__ {
            &image {
              grid-column: 1/2;
              grid-row: 1/3;
            }
            &name {
              grid-column: 2/4;
              grid-row: 1/2;
              align-self: center;
            }
            &quantity {
              grid-column: 2/3;
              grid-row: 2/3;
            }
            &price {
              grid-column: 3/4;
              grid-row: 2/3;
              align-self: center;
            }
            &actions {
              grid-column: -1/-2;
              grid-row: 2/3;
              justify-self: center;
              align-self: center;
            }
          }
        }
      }
    }
    @media(max-width: 374px){
      tr.item {
        td.item__{
          &quantity {
            //grid-column: 1/3;
          }
          &price {
            grid-column: 3/-1;
          }
          &actions {
            grid-row: 1/2;
          }
        }
      }
    }
  }

  .cart-num-items {
    margin-left: 1.5ch;
    &:empty {
      display: none;
    }
  }
}