/*
  Bootstrap offcanvas overlay
  based on 
  https://github.com/as-tx/bootstrap-off-canvas-sidebar/blob/master/accessibility-demo.html
  https://fellowtuts.com/html-css/off-canvas-menu-sidebar-overlay/
  https://as-tx.github.io/bootstrap-off-canvas-sidebar/offset-overlay-full-demo.html
*/
.bs-offcanvas-overlay {
  opacity: 0;
  z-index: -1;
  position: fixed;
  overflow: hidden;
  background-color: rgba($modal-backdrop-bg, $modal-backdrop-opacity);
  width: 100vw;
  height: 100vh;  
}

.bs-offcanvas-overlay.show {
  z-index: $zindex-modal-backdrop;
  opacity: 1;
}

.bs-offcanvas-overlay, .bs-offcanvas {
  transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
}

.bs-offcanvas {

  $offcanvas-width: 330px;
  $offcanvas-width-xl: 420px;
  $offcanvas-width-xxs: calc(100vw - 20px);

  $offcanvas-header-bg: $brand;
  $offcanvas-header-height: 3rem;

  top: 0;
  z-index: $zindex-modal;
  position: fixed;
  height: 100vh;
  @supports(height: 100dvh) {
    height: 100dvh;
  }
  width: $offcanvas-width;
  @include media-breakpoint-up(xl){
    width: $offcanvas-width-xl
  }
  @media(max-width: 350px) {
    width: $offcanvas-width-xxs;
  }

  &-header {
    padding: $grid-gutter-width/4;
    height: $offcanvas-header-height;
    background-color: $offcanvas-header-bg;
    color: color-yiq( $offcanvas-header-bg, $body-color, white );
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > * {
      color: inherit;
    }
  }
  &-close {
    opacity: .75;
    text-shadow: none;
    &:hover {
      color: inherit;
      opacity: 1 !important;
    }
  }
  &-title {
    margin: 0;
    .fas,.far {
      color: inherit;
      &:first-child {
        margin-right: 1ch;
      }
      &:last-child {
        margin-left: 1ch;
      }
    }
    a {
      color: inherit;
    }
  }
  &-content {
    height: calc(100% - #{$offcanvas-header-height});
    /*@supports(height: 100dvh) {
      height: calc(100dvh - #{$offcanvas-header-height});
    }*/
    overflow-x: hidden;
    overflow-y: auto;
  }

  &.bs-offcanvas-left {
    left: 0;
    margin-left: 0 - $offcanvas-width;
    @include media-breakpoint-up(xl){
      margin-left: 0 - $offcanvas-width-xl;
    }
  }
  
  &.bs-offcanvas-right {
    right: 0;
    margin-right: 0 - $offcanvas-width;
    @include media-breakpoint-up(xl){
      margin-right: 0 - $offcanvas-width-xl;
    }
  }
}



body.offcanvas-visible {
  overflow: hidden;
}