/*
  Bootstrap offcanvas overlay
  based on 
  https://github.com/as-tx/bootstrap-off-canvas-sidebar/blob/master/accessibility-demo.html
  https://fellowtuts.com/html-css/off-canvas-menu-sidebar-overlay/
  https://as-tx.github.io/bootstrap-off-canvas-sidebar/offset-overlay-full-demo.html
*/
.bs-offcanvas-overlay {
  opacity: 0;
  z-index: -1;
  position: fixed;
  overflow: hidden;
  background-color: rgba($modal-backdrop-bg, $modal-backdrop-opacity);
  width: 100vw;
  height: 100vh;  
}

.bs-offcanvas-overlay.show {
  z-index: $zindex-modal-backdrop;
  opacity: 1;
}

.bs-offcanvas-overlay, .bs-offcanvas {
  transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
}

.bs-offcanvas {
  top: 0;
  z-index: $zindex-modal;
  position: fixed;
  height: 100vh;
  @supports(height: 100dvh) {
    height: 100dvh;
  }
  overflow-x: hidden;
  overflow-y: auto;
  width: 330px;		
}

.bs-offcanvas-left {
  left: 0;
  margin-left: -330px;
}

.bs-offcanvas-right {
  right: 0;
  margin-right: -330px;
}