/*
Replaces standard Bootstrap styling for pagination
Bootstrap`s own pagination scss should NOT be loaded.
*/
.pagination-container {
	//text-align: center;
	ul.pagination {
		list-style: none;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		font-weight: 600;
		//justify-content: center;
		margin-bottom: $grid-gutter-width;
		li.page-item {
			a {
				padding: $grid-gutter-width/12 $grid-gutter-width/4;
				display: inline-block;
				color: inherit;
				&:hover {
					color: $link-color;
					background-color: $gray-100;
				}
			}
			&.active {
				border-bottom: 2px solid $primary;
			}
		}
	}
	.pagination-info {
		font-size: 0.875rem;
		@extend  .text-muted;
	}
	
	p:last-child {
		font-size: 0.875rem;
		margin-bottom: 0;
	}
	
	.pager-buttons {
		text-align: center;
		.btn {
			margin-right: $grid-gutter-width/5;
			margin-bottom: $grid-gutter-width/5;
			min-width: 220px;
			&.disabled {
				display: none;
			}
			&:focus {
				box-shadow: none;
			}
			
			&.js--previous, &.js--first {
				&:before {
					margin-right: 0.5em;
					font-family: $fa-font-family;
					font-weight: 900;
					content: "\f053";
				}
			}
			
			&.js--first {
				&:before {
					content: "\f053\f053";
					letter-spacing: -0.25em;
					margin-right: 0.7em;
				}
			}
			
			&.next-page {
				&:after {
					margin-left: 0.5em;
					font-family: $fa-font-family;
					font-weight: 900;
					content: "\f054";
				}
			}
			
			&.next-items {
				&:before {
					margin-right: 0.5em;
					font-family: $fa-font-family;
					font-weight: 900;
					content: "\f067";
				}
			}
			&.next-page {
				content: "\f054";
			}
		}
		.pagination-info {
			margin-top: $grid-gutter-width/2;
		}
	}
	
}
