// Styling price for product cards, product promotion iobject, related product cards
.card-price {
	display: inline-block;
	.currency_main {
		color: $brand;
		font-size: 1.25rem;
		font-weight: 900;
		.price {
			
		}
		.dph {
			
		}
	}
	// price before discount
	&--before-discount {
		display: block;
		.currency_main {
			color: $body-color;
			text-decoration: line-through;
			font-weight: 600;
			color: $gray-500;
			font-size: 1rem;
			.price {

			}
		}
	}

	&--secondary {
		display: block;
		font-size: 0.875rem;
	}
	
	ul {
		margin-bottom: 0;
		li {
			margin-bottom: 0.15rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

