.search-suggestions {
	width: 100%;
	max-width: 800px;
	height: 600px;
	height: auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 200px;
	background-color: $gray-100;
	z-index: 10;
	overflow: scroll;
	display: none;
	box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.4);
}