.search-suggestions {
	width: 100%;
	max-width: 800px;
	height: 600px;
	height: auto;
	position: absolute;
	top: 200px;
	background-color: white;
	z-index: 100;
	overflow-y: auto;
	display: none;
	box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.6);
}
.suggestions {
	.search-suggestions-list {
		padding: 0;
		list-style: none;
		margin: 0;
		.suggestion {
			padding: 4px;
			display: grid;
			grid-template-columns: 80px 1fr auto;
			min-height: 60px;
			
			border: 1px solid transparent;
			border-bottom: 1px solid $border-color;
			
			color: inherit;
			
			&:hover, &:active, &:focus {
				outline: none;
				background-color: $gray-100;
				text-decoration: none;
				.suggestion__title {
					text-decoration: underline;
				}
				
			}
			&:focus {
				border: 1px solid rgba($primary, 0.75);
				box-shadow: inset 0 0 .2rem rgba($primary, 0.25);
			}
			
			&__image {
				grid-column: 1/2;
				grid-row: 1/3;
				position: relative;
			}
			&__icons {
				grid-column: 1/2;
				grid-row: 1/3;
				z-index: 10;
				position: absolute;
				right: 3px;
				//bottom: 3px;
				top: 30px;
			}
			&__description {
				line-height: 1.2;
				grid-column: 2/3;
				grid-row: 1/3;
				padding: 0 0.5rem;
				align-self: start;
				.suggestion__title {
					margin: 0 0 0 0;
					line-height: 1.1;
					font-size: 1rem;
					@include media-breakpoint-down(sm){  // bs5 breakpoint down
						font-size: $font-size-sm;
					}
				}
				a {
					color: inherit;
				}
			}
			&__type {
				grid-column: 3/4;
				grid-row: 1/3;
				padding: 0 0.5rem 0 0.25rem;
				justify-self: end;
				//align-self: end;
				align-self: start;
				font-size: 0.8rem;
				color: $gray-600;
			}
			&__price {
				grid-column: 3/4;
				grid-row: 1/3;
				justify-self: end;
				//padding: 0.2rem 0.5rem 0.2rem 0.25rem;
				padding: 0 0.5rem 0 0.25rem;
				align-self: start;
				line-height: 1.2;
				text-align: right;
				
				// Price styling moved to _prices.scss

				small {
					font-size: 0.8rem;//$font-size-sm !important;
				}
				ul.list-unstyled {
					li {
						padding-bottom: 0.25rem;
						margin-bottom: 0.25rem;
						border-bottom: 1px solid $border-color;
						&:last-child {
							padding-bottom: 0;
							margin-bottom: 0;
							border-bottom: none;
						}
					}
				}
			}
		}
	}
	&__not-found {
		padding: 1rem;
		p:last-child {
			margin-bottom: 0;
		}
	}
	&__footer {
		padding: 1rem;
		p:last-child {
			margin-bottom: 0;
		}
	}
}
