form#form_searches_index {
	margin-bottom: $grid-gutter-width;
}


.search-results-list {
	list-style: none;
	padding: 0;
	border-top: 1px solid $border-color;
	.search-results-item {
		position: relative;
		display: flex;
		align-items: stretch;
		//margin-bottom: $grid-gutter-width;
		border-bottom: 1px solid $border-color;
		background-color: white;
		&--image {
			flex-basis: 320px;
			flex-shrink: 0;
			min-width: 320px;
			background-color: $gray-100;
			position: relative;
			.flags {
				position: absolute;
				right: 1rem;
				top: 1rem;
				width: auto;
				display: flex;
				flex-direction: column;
				& > * {
					margin-bottom: 1rem;
				}
			}
			.tags {
				position: absolute;
				left: 0.5rem;
				top: 0.5rem;
				width: auto;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				& > * {
					margin-bottom: 0.25rem;
				}
			}
		}
		&--body {
			flex-grow: 10;
			padding: $grid-gutter-width/2;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.search-result-title {
				font-size: 1.5rem;
				margin-bottom: .75rem;
				font-weight: 600;
				line-height: 1.2;
				& + small, & + .is-open {
					display: block;
					margin-bottom: 0.75rem;
					margin-top: -0.75rem;
				}
			}
			.search-result-description {
				font-size: 0.875rem;
			}
			.search-result-price {
				font-size: 1.25rem;
				font-weight: 600;
				color: $orange;
			}
			.search-results-item--actions {
				//text-align: right;
			}
		}
		&--tag {
			position: absolute;
			background-color: black;
			color: white;
			font-size: 0.75rem;
			padding: 0.1em 0.5em;
			top: 0;
			right: 0;
			font-weight: 600;
		}
		
		
		&__card {
			
		}
		&__category {
			
		}
		&__article {
			
		}
		&__page {
			
		}
		&__searchable-widget {
			
		}
		&__store {
			
		}
		
		@include media-breakpoint-down(sm){
			&--image {
				flex-basis: 250px;
				min-width: 250px;
			}
		}
		@include media-breakpoint-down(xs){
			display: block;
		}
		
	}
}

.card--search {
	background-color: rgba(yellow,0.2);
	&:not(.card--search--author) {
		order: 10;
		background-color: rgba(green,0.2);
	}
	&--author {
		order: 0;
		background-color: rgba(red,0.2);
		outline: 2px solid red;
		flex-basis: 50% !important;
		max-width: 50% !important;
	}
}
