.section--child-categories {
	margin-bottom: $grid-gutter-width;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	padding-top: 20px;
	padding-bottom: calc(20px - 1rem);
}