.section--add-to-cart {
	margin-bottom: $grid-gutter-width;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	padding: $grid-gutter-width/4 0;
	.tab-content {
		padding-top: $grid-gutter-width/4;
	}
	.cart-panel {
		display: flex;
		&__meta {
			order: 2;
			padding-left: $grid-gutter-width/4;
			border-left: 1px solid $border-color;
			p {
				margin: 0;
				&.catalog-number {
					font-size: 0.875rem;
				}
			}
		}
		&__controls {
			flex-basis: percentage(7/12);
			order: 1;
			padding-right: $grid-gutter-width/4;
			.add-to-cart-widget {
				.prices {
					margin-bottom: $grid-gutter-width/2;
					// Styling of prices moved to _prices.scss
				}
				form {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					> * {
						margin-top: 0.5rem;
					}
					.quantity-widget {
						margin-right: 1rem;
					}
					.add-to-cart-submit {
						flex-grow: 2;
					}
				}
			}
		}
		@include media-breakpoint-down(sm){  // bs5 breakpoint down
			display: block;
			&__meta {
				border-left: none;
				border-bottom: 1px solid $border-color;
				padding-left: 0;
				padding-bottom: $grid-gutter-width/4;
			}
			&__controls {
				padding-top: $grid-gutter-width/4;
				padding-right: 0;
			}
		}
	}
	.nav-tabs {
		.nav-link {
			&:active, &:focus {
				outline: none;
			}
		}
	}
	.secondary-controls {
		//margin-bottom: $grid-gutter-width/4;
		&__item {
			display: inline-block;
			margin-right: 1em;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
