.nav--sidebar {
	
	$activeColor: $gray-200;
	$hoverColor: $gray-100;
	
	flex-direction: column;
	border-bottom: 1px solid $border-color;
	
	& > .nav-item {
		border-top: 1px solid $border-color;
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: 1fr 2rem;
		
		& > a.nav-link {
			grid-row: 1/2;
			grid-column: 1/2;
			color: inherit;
			//padding-right: 2rem;
			position: relative;
			flex-grow: 2;
			
			&:not(.collapsed) {
				.expander {
					transform: rotate(180deg);
					//border-bottom: 1px solid $border-color;
				}
			}
			
			
			&.active, {
				background-color: $activeColor;
				color: color-yiq($activeColor);
				&:after {
					color: color-yiq($activeColor);
				}
			}
			&:hover {
				background-color: $hoverColor;
				color: color-yiq($hoverColor);
				&:after {
					color: color-yiq($hoverColor);
				}
			}
		}
	
		.expander {
			grid-row: 1/2;
			grid-column: 2/3;
			width: 2rem;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: 1;
			color: $border-color;
			cursor: pointer;
			.fas, .far {
				transform: rotate(0);
				transition: all 0.25s;
			}
			//border-left: 1px solid $border-color;
			&:hover {
				background-color: $hoverColor;
				color: color-yiq($hoverColor);
			}
			&:not(.collapsed) {
				.fas, .far {
					transform: rotate(180deg);
				}
			}
		}
		a.nav-link.active ~ .expander {
			background-color: $activeColor;
			color: color-yiq($activeColor);
		}
		
		.submenu {
			grid-row: 2/3;
			grid-column: 1/3;
			
		}
	}
	
	&__submenu {
		padding-left: $grid-gutter-width*0.75;
		display: block;
		.nav-item {
			display: block;
			border-bottom: 1px solid rgba($border-color, 0.5);
			&:last-child {
				border-bottom: none;
			}
			
			
			.nav-link {
				color: $body-color;
				padding: $grid-gutter-width/8 $grid-gutter-width/4;
				&.active {
					background-color: $activeColor;
					color: color-yiq($activeColor);
				}
				&:hover {
					background-color: $hoverColor;
					color: color-yiq($hoverColor);
				}
			}
		}
	}
}