// extending Spacing utiltities 

$spacers: map-merge(
  (
    025g: divide($grid-gutter-width, 4),
    05g:  divide($grid-gutter-width, 2),
    1g:   ($grid-gutter-width),
    2g:   ($grid-gutter-width * 2),
    3g:   ($grid-gutter-width * 3),
    4g:   ($grid-gutter-width * 4)
  ),
  $spacers
);