.sticker {
	$stickerSize: 120px;
	display: flex;
	width: $stickerSize;
	height: $stickerSize;
	border-radius: $stickerSize/2;
	background-color: $gray-600;
	color: white;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	&__title {
		font-size: 1rem;
		font-weight: 900;
		color: inherit;
		margin: 0;
	}
	&__text {
		font-weight: 900;
	}
	&__icon {
		
	}
	
	
	&--free-shipping {
		background-color: $success;
	}
}

.product__flag {
	$flagSize: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: $flagSize;
	height: $flagSize;
	border-radius: $flagSize/2;
	margin-bottom: $grid-gutter-width/4;
	background-color: $green;
	line-height: 1.1;
	color: white;
	.product__flag__title {
		display: block;
		&:empty {
			display: none;
		}
		font-size: 0.875rem;
		font-weight: 600;
	}
	.product__flag__number {
		display: block;
		&:empty {
			display: none;
		}
		font-weight: 900;
		font-size: 1.25rem;
	}

	&--sale {
		background-color: $blue;
	}
	
	&--sm {
		$flagSize: 60px;
		width: $flagSize;
		height: $flagSize;
		border-radius: $flagSize/2;
		.product__flag__title {
			font-size: 0.75rem;
		}
		.product__flag__number {
			font-size: 1rem;
		}
	}
}

.card-icon {
	$iconSize: 24px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: $iconSize;
	height: $iconSize;
	border-radius: 50%;
	background-color: black;
	line-height: 1;
	margin: 0 $iconSize/4;
	font-size: $iconSize/2;
	color: white;
	&:last-child {
		margin-right: 0;
	}
	&:first-child {
		margin-left: 0;
	}
	&--favourite {
		background-color: $danger;
	}
	&--in-basket {
		background-color: $success;
	}
}