.styleguide-example {
	margin: $grid-gutter-width 0;
	border: 1px solid $border-color;
	
	&__output {
		margin-bottom: 12px;
		padding: 12px;
		padding-top: 24px;
	}
	&__code {
		padding: 4px;
		background-color: $gray-100;
		pre {
			margin-bottom: 0;
			font-size: 0.9rem;
		}
	}
	&__show-code-btn {
		margin: 12px;
		&:focus {
			box-shadow: none;
		}
	}
}


.styleguide-color-swatches {
	display: flex;
	flex-wrap: wrap;
	margin: $grid-gutter-width 0;
			
	.color-swatch {
		display: block;
		flex-basis: 100px;
		flex-grow: 0;
		border: 1px solid $border-color;//#999999;
		font-size: 12px;
		margin-right: 8px;
		margin-bottom: 8px;
		&__patch {
			height: 70px;
			border-bottom: 1px solid $border-color;//#999999;
		}
		&__text {
			padding: 3px 4px;
			.color-swatch__name {
				color: black;
				font-weight: bold;
			}
			.color-swatch__value {
				color: #666;
			}
		}
	}
	
	.color-swatch--text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-basis: 80px;
		font-size: 12px;
		font-weight: bold;
		flex-grow: 0;
		border: 1px solid $border-color;
		margin: 0 8px 8px 0;
		padding: 3px;
		height: 30px;
	}
	
}