
// Border under table
table.table {
	margin-bottom: 2rem;
	// Border under table
	&:not(.table-borderless) {
		border-bottom: 1px solid $table-border-color;
	}
	// last paragraph without margin bottom
	p:last-child {
		margin-bottom: 0;
	}
	thead {
		tr {
			th {
				font-weight: 400;
				font-size: $font-size-sm;
				line-height: 1.1;
				vertical-align: top;
			}
		}
	}
	tbody {
		tr {
			th {
				font-size: 0.75rem;
				$ratio: ( $font-size-base / ( $font-size-base * 0 + 1 ) ) / 0.75 * $line-height-base;
				line-height: $ratio;
			}
		}
	}
	// Use inside TD to provide information from THEAD when THEAD is hidden on mobile
	.table-hint-xs {
		display: none;
		margin-bottom: 0.15em;
		font-size: 0.75rem;
		font-weight: normal;
		color: $body-color;
		line-height: 1.2;
	}
}

// Dark table header
tr.table-dark {
	th {
		background-color: $gray-600;
		color: $gray-300;
		border-bottom: none;
		a {
			color: white;
			border-bottom: 1px solid $table-border-color;
			&:hover {
				text-decoration: none;
				border-bottom: 2px solid $table-border-color;
			}
		}
	}
}

// Mixin for responsive table to display it as block with stacked cells
// $breakpoint: max viewport size for stacked table
@mixin responsiveTable($breakpoint:map-get($grid-breakpoints, "sm")-1px){
	@media(max-width:$breakpoint){
		display: block;
		thead, tbody {
			display: block;
		}
		thead {
			tr {
				border-bottom: none;
			}
		}
		tr {
			display: block;
			border-bottom: 1px solid $gray-600;
			th, td {
				display: block;
				&:empty {
					display: none;
				}
			}
			th {
				border-bottom: 1px solid $table-border-color;
				border-top: none;
			}
		}
		tbody {
			th {
				border-bottom: none;
			}
		}
		// Use inside TD to provide information from THEAD when THEAD is hidden on mobile
		.table-hint-xs {
			display: block;
		}
		
		// Use when you want to hide thead on mobile
		.thead--hidden-xs {
			display: none;
		}
	}
}

// Responsive tables - display all as blocks

table.table, table.table--responsive-xs {
	@include responsiveTable();
}

table.table--responsive-sm {
	@include responsiveTable(map-get($grid-breakpoints, "md")-1px);
}

table.table--responsive-md {
	@include responsiveTable(map-get($grid-breakpoints, "lg")-1px);
}

table.table--responsive-lg {
	@include responsiveTable(map-get($grid-breakpoints, "xl")-1px);
}

// Table with list of products
table.table--products {
	.product__title {
		font-size: 1.25rem;
		margin-bottom: 0;
	}
	.product__number {
		font-size: $font-size-sm;
		margin-bottom: 0;
	}
	.product__price {
		text-align: right;
	}
	form {
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		//flex-wrap: wrap;
		margin-bottom: 0;
		& > * {
			margin-left: 1em;
			&:first-child {
				margin-left: 0;
			}
		}
		.btn {
			white-space: nowrap;
		}
	}
	@include media-breakpoint-only(md){
		form {
			display: block;
			text-align: left;
			& > * {
				margin-left: 0;
				margin-top: 0.5em;
				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
	@include media-breakpoint-down(sm){
		border-top: 1px solid $border-color;
		thead {
			display: none;
		}
		&, tr, td, th, tbody, tfoot {
			display: block;
		}
		tbody tr {
			/*display: flex;
			flex-wrap: wrap;
			justify-content: space-between;*/
			border-bottom: 1px solid $border-color;
			
			display: grid;
			grid-template-columns: 90px auto auto;
			grid-template-areas: "number header price"
													"form   form   form";
			
			td {
				border: none;
				
				.table-hint-xs {
					display: block;
					flex-grow: 4;
					min-height: 2em*1.2;
				}
				
				&.product {
					&__number {
						grid-area: number;
						flex-grow: 0;
						flex-basis: 90px;
						padding-left: 0;
					}
					&__header {
						grid-area: header;
						flex-basis: auto;
						flex-grow: 99;
						
					}
					&__price {
						grid-area: price;
						flex-basis: 100%;
						flex-grow: 99;
						padding-right: 0;
					}
					&__form {
						padding-right: 0;
						padding-left: 0;
						grid-area: form;
						flex-basis: 100%;
					}
				}
			}
		}
		
	}
	@include media-breakpoint-down(xs){
		tbody tr {
			grid-template-columns: 90px 1fr;
			grid-template-areas: "number header"
													"price  price"
													"form   form";
			td {
				&.product {
					&__price {
						padding-bottom: 0;
						padding-top: 0;
						.table-hint-xs {
							display: none;
						}
					}
				}
			}
			
			form {
				flex-wrap: wrap;
			}
			
		}
	}
	
	@media(max-width: 460px) {
		tbody tr {
			td {
				
				&.product {
					&__header {
						padding-right: 0;
					}
				}
				
				form {
					//display: block;
					//text-align: right;
					justify-content: flex-end;
					& > * {
						flex-basis: 100%;
						margin-left: 0;
						margin-top: 0.5em;
						&:first-child {
							margin-top: 0;
						}
					}
					.quantity-widget {
						//justify-content: flex-end;
					}
				}
			}
		}
	}
	
}

table.table--products.table--products-simple {
	tbody {
		tr {
			td.table-products__image {
				width: 80px;
			}
			td.td.table-products__title {
				
			}
			td.table-products__stockcount {
				font-size: $font-size-sm;
			}
			td.table-products__price {
				font-weight: $font-weight-bold;
			}
			@include media-breakpoint-up(md) {
				td:last-child, th:last-child {
					text-align: right;
					.list--icons {
						li {
							justify-content: end;
						}
					}
				}
			}
			@include media-breakpoint-down(sm) {
				grid-template-areas: "image title title"
														"image stock price"
														"image actions actions";
				td.table-products__image {
					grid-area: image;
				}
				td.table-products__title {
					grid-area: title;
				}
				td.table-products__stockcount {
					grid-area: stock;
				}
				td.table-products__price {
					grid-area: price;
					text-align: right;
				}
				td.table-products__item-actions {
					grid-area: actions;
				}
			}
			@media(max-width:400px) {
				display: block !important;
				td.table-products__price {
					text-align: left;
				}
			}
		}
	}
}

// Orders list table - special layout on md, sm viewports

.table--orders {
	@include media-breakpoint-between(sm,md) {
		display: block;
		border-bottom: 1px solid $gray-600 !important;
		thead, tbody {
			tr {
				display: grid;
				grid-template-columns: 1fr repeat(3, 2fr);
				> *:empty:last-child {
					display: none;
				}
				border-top: 1px solid $gray-600;

				td, th {
					grid-row: 1 / 2;
					border: none;
					&:nth-child(1) {
						grid-column: 1 / 2;
					}
					&:nth-child(2) {
						grid-column: 2 / 3;
					}
					&:nth-child(3) {
						grid-column: 3 / 4;
					}
					&:nth-child(4) {
						grid-column: 4 / 5;
					}
				}
				td.order__thumbnails {
					grid-column: 1 / -1;
					grid-row: 2 / 3;
				}
			}
		}
	}
}