@each $color, $value in $colors {
	.tag--bg-#{$color} {
		background-color: $value;
		color: color-yiq($value); // #fff or #111
	}
}

.tag--bg-primary {
	background-color: $primary;
	color: color-yiq($primary);
}
