.invisible-space {
	font-size: 0;
}

.nowrap {
	white-space: nowrap;
}

mark {
	padding: 0;
	background-color: rgba($yellow,0.2);
	color: inherit;
}

// icon at the heading beginning woould have slight more space before text
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
	.fas, .far, .fab {
		&:first-child {
			margin-right: 0.25em;
		}
	}
	> .fas, > .far, > .fab {
		color: #888;
	}
}

// Small link with icon
.link--small {
	display: inline-flex;
	align-items: center;
	color: inherit;
	margin-right: 1em;
	&:last-child {
		margin-right: 0;
	}
	.fas, .far, .link__icon {
		margin: 0 0.5em;
		&:first-child {
			margin-right: 0.5em;
			margin-left: 0;
		}
		color: $link-color;
	}
	.link__text {
		font-size: $font-size-sm;
		color: inherit;
	}
	&:hover {
		text-decoration: none !important;
	}
	&.in_basket_notice {
		.fas, .far, .link__icon {
			color: $success;
		}
	}
	
}
a.link--small:hover {
	.link__text {
		text-decoration: underline;
	}
}

blockquote {
	$accent-color: $primary;
	position: relative;
	margin: 2em 0 4em 0.65em;
	&:last-child {
		margin-bottom: 3em !important;
	}
	padding-left: 1em;
	border-left: 4px solid rgba($accent-color,.25);
	&::before, &::after {
		position: absolute;
		font-family: $fa-font-family;
		font-weight: 700;
		color: $accent-color;
		font-size: 1.25em;
		left: -0.6em;
	}
	&::before {
		content: "\f10e";
		top: -1.35em;
	}
	&::after {
		content: "\f10d";
		bottom: -1.35em;
	}
	p:last-child {
		margin-bottom: 0 !important;
	}
}
