$enable-deprecation-messages: false;

// To allow to redefine variables in application-variables,
// first we need to load functions and variables from bootstrap package.

@import "node_modules/bootstrap/scss/functions";

// We may overrdide Bootstrap variables here 
// (before loading bootstrap_variables) like this:
// $primary: deeppink;
// or directly in _bootstrap_variables.scss

// Bootstrap variables
@import "bootstrap_variables"; // in the local copy of the vendor defaults, some variables may be overwritten if necessary

// Application specific variables, overrides bootstrap vars.
@import "application_variables";

// Spacing utiltities (must be imported after bootstrap_variables and before bootstrap)
@import "spacing_utilities";

// Fonts
@import "fonts";

// Bootstrap
@import "bootstrap";

// Export some more CSS vars
@import "css_vars";

// Other SCSS

@import "development_utils";

@import "layout";

@import "shared/flash_messages";

@import "navs";

@import "typography";

@import "admin-object-menu";

@import "content_header";

@import "breadcrumb";

@import "main_page";

@import "articles";

@import "dropdowns";

@import "popovers";

@import "header";

@import "footer";

@import "forms";

@import "nouislider";

@import "buttons";

@import "prices";

@import "tables";

@import "slider";

@import "shortcodes";

@import "pagination";

@import "tables-cart";

@import "lists";

@import "lists_files";

@import "iobjects";

@import "image_gallery";

@import "content_tabs";

@import "cards";

@import "tags";

@import "stickers";

@import "banners";

@import "checkout";

@import "product-detail";

@import "stores";

@import "checkout-actions";

@import "slider";

@import "list-categories";
@import "photoswipe";

@import "section-child-categories";

@import "section_add_to_cart";

@import "search_results";

@import "filter";

@import "modals";

//@import "cookie_consent";
@import "vendor/atk14/cookie-consent/src/public/styles/_cookie_consent.bs5.scss";

@import "digital_contents";

@import "logo_grid";

@import "search_suggestions";

@import "langswitch";

@import "searchbar";

@import "sidebar_nav";

@import "faq";

@import "favorite_heart";

@import "basket_info_float";

@import "photoswipe";

@import "offcanvas";

@import "offcanvas_basket";

@import "vouchers";

@import "scroll-to-top";

@import "shared/clearfix";
@import "shared/loading";
@import "shared/buttons";
@import "shared/js_utils";
@import "shared/fileicons";
@import "shared/mark";
@import "shared/colors";
@import "shared/color_radio_checkbox";
@import "shared/tooltips";

@import "styleguides";
@import "md_book";

@import "print";

@import "delivery_service_branches";
@import "debug_helpers";
@import "product_thumbnail_list";
//@import "img_colors_preview";
