@each $color, $value in $colors {
  //@include bg-variant(".bg-#{$color}", $value); // BS5
}

@each $color, $value in $grays {
  //@include bg-variant(".bg-gray-#{$color}", $value); // BS5
}

@each $color, $value in $colors {
  //@include bg-gradient-variant(".bg-gradient-#{$color}", $value); // BS5
}

@each $color, $value in $colors {
  //@include text-emphasis-variant(".text-#{$color}", $value); // BS5
}

@each $color, $value in $colors {
	.text-contrast-#{$color} {
		color: color-yiq( $value );
	}
}

@each $color, $value in $theme-colors {
	.text-contrast-#{$color} {
		color: color-yiq( $value, $body-color, white );
	}
}
@each $color, $value in $grays {
	.text-contrast-gray-#{$color} {
		color: color-yiq( $value, $body-color, white );
		order: 0;
	}
}

.color-sample {
	position: relative;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border: 1px solid rgba($body-color,0.5);
	border-radius: 0.5rem;
	margin-right: 0.25em;
	top: 0.2em;
}
.color-chip {
	position: relative;
	display: inline-block;
	font-size: $font-size-sm;
	font-weight: 600;
	padding: 0.125em 0.75em;
	line-height: 1.5;
	border-radius: 2em;
	border: 1px solid rgba($body-color,0.25);
	margin-right: 0.25em;
	top: 0.2em;
}

